In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A': np.random.randint(0, 10, 10)})
df

   A
0  9
1  0
2  7
3  2
4  6
5  7
6  5
7  1
8  1
9  0

In [3]:
df['B'] = df['A'].diff()

In [4]:
df

   A    B
0  9  NaN
1  0 -9.0
2  7  7.0
3  2 -5.0
4  6  4.0
5  7  1.0
6  5 -2.0
7  1 -4.0
8  1  0.0
9  0 -1.0

In [5]:
x, x_diff = df['A'].iloc[0], df['B'].iloc[1:]

In [6]:
np.r_[x, x_diff]

array([ 9., -9.,  7., -5.,  4.,  1., -2., -4.,  0., -1.])

In [7]:
x

9

In [8]:
x_diff

1   -9.0
2    7.0
3   -5.0
4    4.0
5    1.0
6   -2.0
7   -4.0
8    0.0
9   -1.0
Name: B, dtype: float64

In [9]:
# .r_ concatenates x= first obervation to the beginning of the x_diff column
np.r_[x, x_diff].cumsum().astype(int)

array([9, 0, 7, 2, 6, 7, 5, 1, 1, 0])

In [10]:
df['C'] = np.r_[x, x_diff].cumsum().astype(int)
df

   A    B  C
0  9  NaN  9
1  0 -9.0  0
2  7  7.0  7
3  2 -5.0  2
4  6  4.0  6
5  7  1.0  7
6  5 -2.0  5
7  1 -4.0  1
8  1  0.0  1
9  0 -1.0  0

## Rescaling from Moving Average

In [11]:
window_setting = 4
df['exp_moving_avg'] = df['A'].ewm(span=4, min_periods=4, adjust=True).mean().shift()
df['ewm_diff'] = df['A'] - df['exp_moving_avg']
df

   A    B  C  exp_moving_avg  ewm_diff
0  9  NaN  9             NaN       NaN
1  0 -9.0  0             NaN       NaN
2  7  7.0  7             NaN       NaN
3  2 -5.0  2             NaN       NaN
4  6  4.0  6        3.742647  2.257353
5  7  1.0  7        4.721721  2.278279
6  5 -2.0  5        5.677632 -0.677632
7  1 -4.0  1        5.398773 -4.398773
8  1  0.0  1        3.609206 -2.609206
9  0 -1.0  0        2.554898 -2.554898

In [12]:
window_setting = 4
#train_set = df.iloc[:window_setting]
#test_set = test_set['ewm_diff'].reset_index().iloc[:, 1:]

'''
original_tail = train_set['A'].tail(window_setting)

rolling_mean_add = original_tail.ewm(span=4, adjust=True).mean()[3]
print(rolling_mean_add)
unscaled = test_set.iloc[0,:] + rolling_mean_add
unscaled

'''

In [19]:
train_set = df.iloc[:window_setting]
test_set = df['ewm_diff'].dropna().reset_index().iloc[:, 1:]


original_tail = train_set['A'].tail(window_setting)

rolling_mean_add = original_tail.ewm(span=4, adjust=True).mean()[3]
print(rolling_mean_add)
unscaled = test_set.iloc[0,:] + rolling_mean_add
unscaled

3.7426470588235285

ewm_diff    6.0
Name: 0, dtype: float64

In [21]:
original_tail = original_tail.append(pd.Series([float(unscaled)]))
original_tail

0    9.0
1    0.0
2    7.0
3    2.0
0    6.0
dtype: float64

In [24]:

rolling_mean = original_tail.ewm(span=4, adjust=True).mean()
rolling_mean = rolling_mean.reset_index().iloc[:,1]
rolling_mean = rolling_mean[len(rolling_mean)-1]

unscaled = rolling_mean + test_set.iloc[1,:]

print(rolling_mean)

4.721721027064538

In [25]:
test_set.iloc[1,:]

ewm_diff    2.278279
Name: 1, dtype: float64

In [26]:
original_tail = original_tail.append(pd.Series([float(unscaled)]))
original_tail

0    9.0
1    0.0
2    7.0
3    2.0
0    6.0
0    7.0
dtype: float64

In [28]:
rolling_mean = original_tail.ewm(span=4, adjust=True).mean()
rolling_mean = rolling_mean.reset_index().iloc[:,1]

#unscaled = rolling_mean[4] + test_set.iloc[1,:]

print(rolling_mean)
print()
#print('Exponential Weighted Mean of most recent 4 unscaled values')
#print(rolling_mean[5])

0         NaN
1         NaN
2         NaN
3    5.595588
4    4.903539
5    6.202739
Name: 0, dtype: float64

In [27]:
test_set

   ewm_diff
0  2.257353
1  2.278279
2 -0.677632
3 -4.398773
4 -2.609206
5 -2.554898

#### Rescaling Back to Scale

In [40]:
train_set = df.iloc[:window_setting]
test_set = test_set['ewm_diff'].reset_index().iloc[:, 1:]

original_tail = train_set['A'].tail(window_setting)
test_set_squeezed = test_set.squeeze()
for item in test_set_squeezed:
    ewm_rolling_avg = original_tail.ewm(span=4, min_periods=4, adjust=True).mean()
    ewm_rolling_avg = ewm_rolling_avg.reset_index().iloc[:,1]
    ewm_rolling_avg = ewm_rolling_avg[len(original_tail)-1]
    
    # original_tail.tail(4).ewm(span=4, adjust=False).mean()[window_setting-1]
    #print(original_tail.tail(4))
    print('rolling avg', ewm_rolling_avg)
    #print(item)
    #print('sum', item + ewm_rolling_avg)
    
    unscaled_result = item + ewm_rolling_avg
    original_tail = original_tail.append(pd.Series([float(unscaled_result)]))

rolling avg 3.7426470588235285
rolling avg 4.721721027064538
rolling avg 5.677631578947369
rolling avg 5.39877268297822
rolling avg 3.609205757373772
rolling avg 2.554898466051736

In [44]:
original_tail = original_tail.reset_index(drop=True)
df['D'] = original_tail

0    9.0
1    0.0
2    7.0
3    2.0
4    6.0
5    7.0
6    5.0
7    1.0
8    1.0
9    0.0
dtype: float64

In [45]:
df

   A    B  C  exp_moving_avg  ewm_diff    D
0  9  NaN  9             NaN       NaN  9.0
1  0 -9.0  0             NaN       NaN  0.0
2  7  7.0  7             NaN       NaN  7.0
3  2 -5.0  2             NaN       NaN  2.0
4  6  4.0  6        3.742647  2.257353  6.0
5  7  1.0  7        4.721721  2.278279  7.0
6  5 -2.0  5        5.677632 -0.677632  5.0
7  1 -4.0  1        5.398773 -4.398773  1.0
8  1  0.0  1        3.609206 -2.609206  1.0
9  0 -1.0  0        2.554898 -2.554898  0.0

# DONE. Now for LME

In [47]:
LME_futures = pd.read_excel('forecasting_raw_data/LME Futures Price.xlsx')
LME_futures = LME_futures.iloc[3:, 1:]
#LME_futures['Unnamed: 1'] = pd.datetime(LME_futures['Unnamed: 1'])
LME_futures.index = LME_futures['Unnamed: 1']

LME_futures = LME_futures.iloc[:, 1:]
LME_futures = LME_futures[LME_futures.index.year>=2000]
LME_futures.isnull().sum()
LME = LME_futures.iloc[:, 0]
LME = LME.astype(float)
LME = LME.resample('B').mean()

In [48]:
def preprocess(series, window_setting):
    moving_avg =series.ewm(span=4, min_periods=4, adjust=True).mean().shift()
    moving_avg_diff = series - moving_avg
    return moving_avg_diff, moving_avg

In [49]:
LME_stationary, moving_avg_list = preprocess(LME, 4)

window_setting= 4

In [51]:
moving_avg_list_test = moving_avg_list['2017-10-31':]
moving_avg_list_train = moving_avg_list[:'2017-10-30']

In [66]:
y_test = LME_stationary['2017-10-31':]
y_train = LME_stationary[:'2017-10-30']


#original_tail = LME.loc[y_train.index[-window_setting:]]
original_tail = LME.loc[:'2017-10-30']

y_pred_unscaled = []

ewm_moving_avg_list = []

y_test_squeezed = y_test.squeeze()
for item in y_test_squeezed:
    ewm_rolling_avg = original_tail.ewm(span=4, min_periods=4, adjust=True).mean()
    ewm_rolling_avg = ewm_rolling_avg.reset_index(drop=True)
    ewm_rolling_avg = ewm_rolling_avg[len(original_tail)-1]
    
    ewm_moving_avg_list.append(float(ewm_rolling_avg))
    
    unscaled_result = item + ewm_rolling_avg
    original_tail = original_tail.append(pd.Series([float(unscaled_result)]))

    y_pred_unscaled.append(float(unscaled_result))
    
original_tail = pd.Series(original_tail)
original_tail = original_tail[window_setting:]
#original_tail.index = y_test.index
original_tail.head()

2000-01-07    8162.0
2000-01-10    8120.0
2000-01-11    8044.0
2000-01-12    8184.0
2000-01-13    8105.7
dtype: float64

In [71]:
y_pred_unscaled= pd.Series(y_pred_unscaled)

y_pred_unscaled.index = y_test.index


y_pred_unscaled.tail()

Unnamed: 1
2019-10-01    17434.0
2019-10-02    17640.0
2019-10-03    17775.0
2019-10-04    17906.0
2019-10-07    17810.0
Freq: B, dtype: float64

In [70]:
LME[LME.index=='2019-10-07']

Unnamed: 1
2019-10-07    17810.0
Freq: B, Name: Cash Price ($/MT), dtype: float64