### For Updating Usage Rates As Per Model

Cell energy and usage rates must be hard coded in the file **'usage.xlsx'**

#### NOTE: For the cars in the 'model' column ('M3-E3, MS-E1, MS, MX) can put 1 as cell energy, which has no effect on kwh calculations

In [17]:
from sqlalchemy import create_engine
from sqlalchemy import(Table, Column, String, Integer, Boolean)
from sqlalchemy import MetaData, Table

import datetime
import pandas as pd

# Connecting to Engine
engine = create_engine('sqlite:///metals_dashboard.sqlite')

connection = engine.connect()

# What's in the database already?
print(engine.table_names())

['EVSales', 'M3E1', 'M3E3', 'MS', 'MX', 'baselines', 'battery_cap', 'cell18650H', 'cell2170C', 'cellM48', 'commodities', 'fastmarkets', 'lithium_benchmark_fastmarkets', 'usage']

In [18]:
df = pd.read_sql_query('SELECT * from commodities;', connection)
df['month_year'] = pd.to_datetime(df['Date']).dt.to_period('M')

df

,Date,LME Ni cash price,LME Ni inventory (total),LME Ni inventory (briquette),LME Ni inventory (other forms),Critical Inventory,LME Co cash price,LME Cu cash price,Comex Cu future,Comex Cu future2,LME Al cash price,Fastmarkets- Cobalt LOW,Fastmarkets - Cobalt High,month_year
0,2015-01-02 00:00:00.000000,14756.00,414900.0,165720.0,249180.0,100000.0,31619.0,6321.00,272.65,6005.506608,1805.25,NaN,NaN,2015-01
1,2015-01-05 00:00:00.000000,15126.00,414756.0,165972.0,248784.0,100000.0,31365.0,6213.50,267.45,5890.969163,1787.25,NaN,NaN,2015-01
2,2015-01-06 00:00:00.000000,15191.00,415338.0,166506.0,248832.0,100000.0,31366.0,6221.00,267.30,5887.665198,1755.25,NaN,NaN,2015-01
3,2015-01-07 00:00:00.000000,15483.00,415812.0,167094.0,248718.0,100000.0,31367.0,6182.50,266.10,5861.233480,1761.75,NaN,NaN,2015-01
4,2015-01-08 00:00:00.000000,15486.00,415842.0,167124.0,248718.0,100000.0,31371.0,6175.75,267.30,5887.665198,1811.50,NaN,NaN,2015-01
5,2015-01-09 00:00:00.000000,15235.50,415164.0,166818.0,248346.0,100000.0,31371.0,6166.50,265.45,5846.916300,1789.75,NaN,NaN,2015-01
6,2015-01-12 00:00:00.000000,15029.00,414732.0,166554.0,248178.0,100000.0,31367.5,6101.00,262.55,5783.039648,1791.00,NaN,NaN,2015-01
7,2015-01-13 00:00:00.000000,14585.00,416436.0,167244.0,249192.0,100000.0,30769.0,5939.50,254.00,5594.713656,1779.25,NaN,NaN,2015-01
8,2015-01-14 00:00:00.000000,14241.00,418320.0,167142.0,251178.0,100000.0,30769.5,5619.00,241.20,5312.775330,1765.50,NaN,NaN,2015-01
9,2015-01-15 00:00:00.000000,14413.50,418332.0,167100.0,251232.0,100000.0,30774.5,5681.00,247.85,5459.251101,1781.60,NaN,NaN,2015-01
10,2015-01-16 00:00:00.000000,14722.00,418518.0,166470.0,252048.0,100000.0,30773.5,5768.00,253.35,5580.396476,1840.25,NaN,NaN,2015-01
11,2015-01-19 00:00:00.000000,14417.00,417900.0,165990.0,251910.0,100000.0,31015.0,5709.00,253.35,5580.396476,1815.75,NaN,NaN,2015-01
12,2015-01-20 00:00:00.000000,14721.00,418062.0,165654.0,252408.0,100000.0,30615.0,5722.00,251.05,5529.735683,1842.25,NaN,NaN,2015-01
13,2015-01-21 00:00:00.000000,14971.50,419964.0,166794.0,253170.0,100000.0,30816.0,5801.00,252.65,5564.977974,1870.75,NaN,NaN,2015-01
14,2015-01-22 00:00:00.000000,14792.00,421842.0,167820.0,254022.0,100000.0,30620.0,5696.50,249.85,5503.303965,1863.00,NaN,NaN,2015-01
15,2015-01-23 00:00:00.000000,14293.00,423036.0,168120.0,254916.0,100000.0,30370.0,5549.00,242.55,5342.511013,1823.00,NaN,NaN,2015-01
16,2015-01-26 00:00:00.000000,14692.00,424344.0,168900.0,255444.0,100000.0,30368.0,5628.50,246.80,5436.123348,1876.75,NaN,NaN,2015-01
17,2015-01-27 00:00:00.000000,14730.50,424110.0,168288.0,255822.0,100000.0,30365.0,5453.00,238.95,5263.215859,1848.00,NaN,NaN,2015-01
18,2015-01-28 00:00:00.000000,14993.00,423726.0,167580.0,256146.0,100000.0,29616.0,5519.50,240.60,5299.559471,1839.50,NaN,NaN,2015-01
19,2015-01-29 00:00:00.000000,14846.00,425562.0,167778.0,257784.0,100000.0,29620.0,5433.00,237.30,5226.872247,1808.00,NaN,NaN,2015-01
20,2015-01-30 00:00:00.000000,15109.00,426240.0,167310.0,258930.0,100000.0,29421.0,5541.00,240.55,5298.458150,1853.75,NaN,NaN,2015-01
21,2015-02-02 00:00:00.000000,15274.00,424974.0,166194.0,258780.0,100000.0,29438.5,5525.00,240.75,5302.863436,1855.75,NaN,NaN,2015-02
22,2015-02-03 00:00:00.000000,15255.50,424572.0,165462.0,259110.0,100000.0,29640.0,5719.00,249.50,5495.594714,1874.00,NaN,NaN,2015-02
23,2015-02-04 00:00:00.000000,15070.00,424788.0,165462.0,259326.0,100000.0,29642.0,5732.75,250.10,5508.810573,1862.00,NaN,NaN,2015-02
24,2015-02-05 00:00:00.000000,15122.75,423480.0,164070.0,259410.0,100000.0,29646.0,5743.50,250.90,5526.431718,1871.00,NaN,NaN,2015-02
25,2015-02-06 00:00:00.000000,15179.00,424206.0,163698.0,260508.0,100000.0,29198.0,5670.00,250.10,5508.810573,1856.25,NaN,NaN,2015-02
26,2015-02-09 00:00:00.000000,15098.75,426324.0,164586.0,261738.0,100000.0,29200.0,5687.50,250.00,5506.607930,1859.00,NaN,NaN,2015-02
27,2015-02-10 00:00:00.000000,14764.75,426090.0,164460.0,261630.0,100000.0,29055.0,5604.75,247.50,5451.541850,1815.75,NaN,NaN,2015-02
28,2015-02-11 00:00:00.000000,14690.50,426018.0,164202.0,261816.0,100000.0,29056.0,5610.25,245.35,5404.185022,1802.50,NaN,NaN,2015-02
29,2015-02-12 00:00:00.000000,14648.00,425310.0,163458.0,261852.0,100000.0,29209.0,5752.25,251.10,5530.837004,1826.40,NaN,NaN,2015-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1166,2019-06-24 00:00:00.000000,12069.50,168876.0,145242.0,23634.0,100000.0,28000.0,5941.25,270.50,5958.149780,1768.75,30534.048220,31967.054093,2019-06
1167,2019-06-25 00:00:00.000000,12234.00,168252.0,145176.0,23076.0,100000.0,28000.0,6025.50,273.50,6024.229075,1791.25,30534.048220,31967.054093,2019-06
1168,2019-06-26 00:00:00.000000,12424.00,164838.0,144276.0,20562.0,100000.0,27860.0,5971.00,271.55,5981.277533,1795.25,30313.585778,31636.360430,2019-06
1169,2019-06-27 00:00:00.000000,12658.00,165480.0,144624.0,20856.0,100000.0,28720.0,5976.50,271.65,5983.480176,1770.50,30313.585778,31636.360430,2019-06
1170,2019-06-28 00:00:00.000000,12617.00,164718.0,143880.0,20838.0,100000.0,28600.0,5982.00,271.35,5976.872247,1779.75,29431.736009,30754.510662,2019-06
1171,2019-07-01 00:00:00.000000,12266.00,161658.0,143280.0,18378.0,100000.0,28600.0,5937.75,268.80,5920.704846,1770.50,29431.736009,30754.510662,2019-07
1172,2019-07-02 00:00:00.000000,12004.50,161448.0,143118.0,18330.0,NaN,28600.0,5868.50,266.40,5867.841410,1756.25,0.000000,0.000000,2019-07
1173,2019-07-03 00:00:00.000000,12271.50,158292.0,140328.0,290568.0,100000.0,28600.0,5908.75,268.30,5909.691630,1764.75,96342.087162,97995.555477,2019-07
1174,2019-07-04 00:00:00.000000,12270.00,157386.0,139932.0,18330.0,100000.0,28600.0,5909.00,268.30,5909.691630,1784.25,0.000000,0.000000,2019-07
1175,2019-07-05 00:00:00.000000,12418.00,157464.0,140208.0,17256.0,NaN,28600.0,5890.25,266.10,5861.233480,1784.00,28.770349,30.093123,2019-07
1176,2019-07-08 00:00:00.000000,12676.00,154740.0,139512.0,15228.0,NaN,28600.0,5873.25,265.90,5856.828194,1790.00,0.000000,0.000000,2019-07
1177,2019-07-09 00:00:00.000000,12646.50,154104.0,139428.0,14676.0,NaN,26647.0,5808.50,262.50,5781.938326,1807.00,0.000000,0.000000,2019-07
1178,2019-07-10 00:00:00.000000,12928.00,153612.0,139332.0,14280.0,NaN,26650.0,5928.50,269.40,5933.920705,1833.00,0.000000,0.000000,2019-07
1179,2019-07-11 00:00:00.000000,13073.00,153420.0,139692.0,13728.0,NaN,26650.0,5948.00,268.75,5919.603524,1807.50,0.000000,0.000000,2019-07
1180,2019-07-12 00:00:00.000000,13409.50,150840.0,139398.0,11442.0,NaN,26650.0,5928.75,269.40,5933.920705,1802.25,27.888499,28.880580,2019-07
1181,2019-07-15 00:00:00.000000,13595.00,150324.0,138978.0,11346.0,NaN,27584.0,5976.00,271.10,5971.365639,1824.00,0.000000,0.000000,2019-07
1182,2019-07-16 00:00:00.000000,14004.00,149322.0,137976.0,11346.0,NaN,27583.0,6000.00,270.00,5947.136564,1831.50,0.000000,0.000000,2019-07
1183,2019-07-17 00:00:00.000000,14419.00,148374.0,137028.0,11346.0,NaN,27583.0,5968.00,271.60,5982.378855,1829.50,0.000000,0.000000,2019-07
1184,2019-07-18 00:00:00.000000,14817.00,148230.0,136902.0,11328.0,NaN,27592.0,5970.50,271.00,5969.162996,1835.75,0.000000,0.000000,2019-07
1185,2019-07-19 00:00:00.000000,14680.00,147942.0,136818.0,11124.0,NaN,27596.0,6055.25,275.25,6062.775330,1823.75,27.668036,28.439655,2019-07
1186,2019-07-22 00:00:00.000000,14256.00,147624.0,136872.0,10752.0,NaN,27583.0,5997.00,272.20,5995.594714,1788.75,0.000000,0.000000,2019-07
1187,2019-07-23 00:00:00.000000,14131.00,146670.0,136332.0,10338.0,NaN,27583.5,5946.00,270.00,5947.136564,1788.25,0.000000,0.000000,2019-07
1188,2019-07-24 00:00:00.000000,14508.00,145056.0,136284.0,8772.0,NaN,27584.0,5978.75,271.20,5973.568282,1798.00,0.000000,0.000000,2019-07
1189,2019-07-25 00:00:00.000000,14032.00,145500.0,137112.0,8388.0,NaN,27593.0,5986.50,270.35,5954.845815,1798.75,0.000000,0.000000,2019-07
1190,2019-07-26 00:00:00.000000,14063.00,145062.0,137040.0,8022.0,NaN,25597.0,5941.00,268.50,5914.096916,1777.25,27.116880,27.888499,2019-07
1191,2019-07-29 00:00:00.000000,14325.00,143988.0,136080.0,7908.0,NaN,25584.0,6000.00,271.75,5985.682819,1787.00,0.000000,0.000000,2019-07
1192,2019-07-30 00:00:00.000000,14320.00,143988.0,136032.0,7956.0,NaN,25584.0,5925.00,267.85,5899.779736,1777.50,0.000000,0.000000,2019-07
1193,2019-07-31 00:00:00.000000,14452.00,143628.0,136032.0,7596.0,NaN,25584.0,5902.25,266.60,5872.246696,1771.25,26.675955,28.108961,2019-07
1194,2019-08-01 00:00:00.000000,14578.00,143670.0,136074.0,7596.0,NaN,25593.0,5875.00,266.55,5871.145374,1753.00,0.000000,0.000000,2019-08
1195,2019-08-02 00:00:00.000000,14578.00,143670.0,136074.0,7596.0,NaN,25593.0,5875.00,259.50,5715.859031,1753.00,26.896418,28.660117,2019-08

In [19]:
baselines = df.groupby(['month_year']).mean()
baselines.head()

,LME Ni cash price,LME Ni inventory (total),LME Ni inventory (briquette),LME Ni inventory (other forms),Critical Inventory,LME Co cash price,LME Cu cash price,Comex Cu future,Comex Cu future2,LME Al cash price,Fastmarkets- Cobalt LOW,Fastmarkets - Cobalt High
month_year,,,,,,,,,,,,
2015-01,14849.190476,419187.428571,167046.571429,252140.857143,100000.0,30749.476190,5830.535714,253.278571,5578.823159,1814.719048,NaN,NaN
2015-02,14573.837500,425617.800000,164840.400000,260777.400000,100000.0,29155.375000,5729.275000,251.210000,5533.259912,1817.820000,NaN,NaN
2015-03,13755.500000,431802.272727,164323.363636,267478.909091,100000.0,27568.784091,5939.670455,260.011364,5727.122547,1773.863636,NaN,NaN
2015-04,12844.204545,434358.818182,162215.181818,272143.636364,100000.0,28657.977273,6038.556818,266.093182,5861.083300,1815.738636,NaN,NaN
2015-05,13480.380952,448753.142857,170423.142857,278330.000000,100000.0,30084.095238,6293.726190,279.104762,6147.681980,1805.178571,NaN,NaN

In [20]:
usage = pd.read_sql_query('SELECT * from usage;', connection)
usage

,index,Model,LiOH,Nickel,Cobalt,Copper,Aluminum,Steel,Manganese,cell_energy
0,0,M3-E3,57.073451,68.830836,4.630438,50.334320,421.749205,719.053646,0.00000,1.0
1,1,M3-E1,38.462543,46.385998,3.120513,43.870520,418.569640,695.557892,0.00000,1.0
2,2,MS,75.923629,83.256088,9.063918,20.850000,1050.520000,74.500000,0.00000,1.0
3,3,MX,75.923629,83.256088,9.063918,28.320000,1152.800000,74.500000,0.00000,1.0
4,4,cellM48,0.011220,0.012980,0.001720,0.005960,0.002380,0.000000,0.00085,17.4
5,5,cell2170C,0.011833,0.014868,0.000699,0.004503,0.002215,0.000000,0.00000,17.6
6,6,cell18650H,0.009196,0.010084,0.001098,0.002915,0.001314,0.000000,0.00000,12.8

### Cleaning

#### Adding Lithium to Baselines Data for Further for Calculations of Usage

In [21]:
LiOH = pd.read_excel('raw_data_finals/LiOH/03062019 LiOH Summary V1.xlsx', sheet_name="LiOH Supply")
LiOH.index = LiOH['Volumes (MT)']
LiOH = LiOH.iloc[:, 1:]
LiOH.columns = LiOH.iloc[2, :]

LiOH_col = LiOH.iloc[58, :]
LiOH_col = LiOH_col[4:]
LiOH_col = LiOH_col*1000
#LiOH_col['Date'] = LiOH_col.index

# LiOH_col = LiOH_col.groupby(['month_year']).mean()
LiOH_col.index = pd.to_datetime(LiOH_col.index)
LiOH_col.index = LiOH_col.index.to_period('M')


baselines = pd.concat([baselines, LiOH_col], axis=1, sort=False)


baselines = baselines.dropna(subset=['LME Ni cash price'])
baselines = baselines.rename(columns={"Weighted average per kg price - all sources": "Lithium"})

In [22]:

baselines

,LME Ni cash price,LME Ni inventory (total),LME Ni inventory (briquette),LME Ni inventory (other forms),Critical Inventory,LME Co cash price,LME Cu cash price,Comex Cu future,Comex Cu future2,LME Al cash price,Fastmarkets- Cobalt LOW,Fastmarkets - Cobalt High,Lithium
2015-01,14849.190476,419187.428571,167046.571429,252140.857143,100000.0,30749.476190,5830.535714,253.278571,5578.823159,1814.719048,NaN,NaN,NaN
2015-02,14573.837500,425617.800000,164840.400000,260777.400000,100000.0,29155.375000,5729.275000,251.210000,5533.259912,1817.820000,NaN,NaN,NaN
2015-03,13755.500000,431802.272727,164323.363636,267478.909091,100000.0,27568.784091,5939.670455,260.011364,5727.122547,1773.863636,NaN,NaN,NaN
2015-04,12844.204545,434358.818182,162215.181818,272143.636364,100000.0,28657.977273,6038.556818,266.093182,5861.083300,1815.738636,NaN,NaN,NaN
2015-05,13480.380952,448753.142857,170423.142857,278330.000000,100000.0,30084.095238,6293.726190,279.104762,6147.681980,1805.178571,NaN,NaN,NaN
2015-06,12825.227273,463235.454545,178053.000000,285182.454545,100000.0,30650.386364,5833.011364,259.963636,5726.071286,1687.727273,NaN,NaN,NaN
2015-07,11413.097826,455404.695652,173662.173913,281742.521739,100000.0,31579.869565,5456.750000,244.660870,5389.005938,1639.500000,NaN,NaN,NaN
2015-08,10369.190476,455786.285714,173583.428571,282202.857143,100000.0,29191.333333,5128.238095,235.980952,5197.818334,1550.011905,NaN,NaN,NaN
2015-09,9937.545455,451917.818182,171133.909091,280783.909091,100000.0,27714.306818,5217.250000,238.700000,5257.709251,1589.602273,NaN,NaN,NaN
2015-10,10316.829545,438440.727273,162171.545455,276269.181818,100000.0,27499.045455,5216.090909,238.752273,5258.860633,1516.488636,NaN,NaN,NaN
2015-11,9244.333333,417454.571429,149049.428571,268405.142857,100000.0,24413.702381,4799.904762,219.573810,4836.427523,1467.892857,NaN,NaN,NaN
2015-12,8698.369565,423081.391304,164242.173913,258839.217391,100000.0,24016.728261,4643.326087,213.347826,4699.291324,1500.228261,NaN,NaN,NaN
2016-01,8520.273810,443329.142857,199750.571429,243578.571429,100000.0,23173.428571,4482.928571,205.766667,4532.305433,1482.011905,NaN,NaN,NaN
2016-02,8298.500000,440177.142857,203018.571429,237158.571429,100000.0,22275.880952,4598.619048,210.147619,4628.802182,1531.261905,NaN,NaN,NaN
2016-03,8708.119565,432356.086957,219229.043478,213127.043478,100000.0,22973.260870,4955.815217,225.378261,4964.278874,1525.467391,NaN,NaN,NaN
2016-04,8878.857143,425107.142857,222628.857143,202478.285714,100000.0,23000.500000,4872.738095,222.464286,4900.094399,1571.226190,NaN,NaN,NaN
2016-05,8681.590909,408805.636364,224724.272727,184081.363636,100000.0,23439.363636,4712.511364,215.440909,4745.394473,1555.829545,NaN,NaN,NaN
2016-06,8928.352273,389538.272727,219871.363636,169666.909091,100000.0,23692.727273,4641.965909,214.318182,4720.664798,1593.506818,NaN,NaN,NaN
2016-07,10262.857143,376704.285714,214170.571429,162533.714286,100000.0,25085.523810,4864.904762,225.123810,4958.674219,1629.047619,NaN,NaN,NaN
2016-08,10310.826087,371629.565217,214054.956522,157574.608696,100000.0,26283.695652,4745.228261,219.428261,4833.221605,1638.804348,NaN,NaN,NaN
2016-09,10191.784091,365939.727273,211756.363636,154183.363636,100000.0,26625.000000,4722.204545,218.665909,4816.429716,1592.363636,NaN,NaN,NaN
2016-10,10259.738095,361644.857143,208949.428571,152695.428571,100000.0,28205.666667,4731.261905,219.457143,4833.857772,1665.904762,27691.243046,29164.860422,NaN
2016-11,11128.909091,365342.181818,214224.818182,151117.363636,100000.0,29258.409091,5450.931818,251.104545,5530.937125,1737.113636,28815.443274,30253.459657,NaN
2016-12,10916.045455,370125.000000,220885.909091,149239.090909,100000.0,31692.886364,5641.750000,257.800000,5678.414097,1728.238636,30544.069240,31826.759811,NaN
2017-01,9971.125000,373921.636364,225921.272727,148000.363636,100000.0,34630.090909,5744.034091,265.540909,5848.918702,1787.272727,33575.427817,35294.032763,NaN
2017-02,10643.300000,381745.200000,236842.500000,144902.700000,100000.0,43005.000000,5940.912500,276.442500,6089.041850,1860.750000,41783.144324,43932.653133,NaN
2017-03,10204.663043,381883.304348,240708.782609,141174.521739,100000.0,52765.217391,5824.630435,272.343478,5998.755028,1901.467391,51755.954595,55201.878417,NaN
2017-04,9617.875000,375180.900000,241183.200000,133997.700000,100000.0,55300.000000,5681.512500,267.972500,5902.477974,1918.600000,54647.127815,58036.737861,NaN
2017-05,9160.934783,380613.391304,249546.782609,131066.608696,100000.0,54983.945652,5606.054348,262.767391,5787.828002,1914.141304,53610.714705,57224.381689,NaN
2017-06,8931.761364,377251.909091,253246.909091,124005.000000,100000.0,57449.454545,5719.761364,267.120455,5883.710453,1885.286364,57565.749917,60166.204631,NaN
2017-07,9491.392857,374063.142857,252623.428571,121439.714286,100000.0,58548.904762,5985.119048,280.273810,6173.431928,1902.964286,60999.858064,64170.317945,NaN
2017-08,10913.282609,380951.739130,260808.782609,120142.956522,100000.0,58564.478261,6492.706522,303.636957,6688.038690,2031.586957,62079.348075,65410.248014,NaN
2017-09,11215.785714,383604.857143,268246.285714,115358.571429,100000.0,60128.500000,6577.166667,308.047619,6785.189847,2096.488095,62942.027196,65550.832760,NaN
2017-10,11335.772727,385330.636364,281054.181818,104276.454545,100000.0,59905.863636,6807.602273,318.336364,7011.814177,2131.488636,64605.516531,66729.972791,NaN
2017-11,11972.000000,381571.636364,290788.909091,90782.727273,100000.0,62118.045455,6826.545455,317.479545,6992.941530,2097.440909,65963.364754,68739.187319,NaN
2017-12,11550.095238,375168.285714,292596.857143,82571.428571,100000.0,72877.095238,6857.809524,319.357143,7034.298301,2090.071429,73576.715471,77450.555523,NaN
2018-01,12857.945652,364072.173913,288897.391304,75174.782609,100000.0,77202.717391,7071.989130,331.060870,7292.089638,2211.739130,79644.453510,82582.355183,11426
2018-02,13595.875000,341649.600000,271398.000000,70251.600000,100000.0,80792.600000,7006.525000,328.617500,7238.270925,2181.787500,83450.545865,85925.236777,11056.2
2018-03,13386.159091,326761.090909,258946.909091,67814.181818,100000.0,87884.681818,6793.727273,318.352273,7012.164598,2065.488636,89507.751459,92714.477889,11830.4
2018-04,13905.476190,314293.714286,247713.428571,66580.285714,100000.0,90914.285714,6843.309524,321.026190,7071.061464,2241.928571,95586.215932,97743.598401,11507.6
2018-05,14364.967391,305134.173913,239389.565217,65744.608696,100000.0,90195.652174,6825.478261,318.632609,7018.339399,2300.695652,94952.215245,96864.487296,12350.7
2018-06,15105.654762,277338.285714,214703.428571,62634.857143,100000.0,81188.095238,6965.857143,321.619048,7084.119992,2237.619048,90305.615535,92709.705974,11561.6
2018-07,13793.863636,263033.727273,202921.636364,60112.090909,100000.0,70647.727273,6250.750000,289.118182,6368.241890,2082.238636,82122.259652,85669.700764,10983.7
2018-08,13408.163043,246933.913043,191157.913043,55776.000000,100000.0,63324.195652,6052.804348,278.595652,6136.468110,2052.434783,73931.600665,76145.810408,12075.4
2018-09,12510.350000,233426.400000,181659.300000,51767.100000,100000.0,62210.325000,6050.762500,275.972500,6078.689427,2026.462500,73502.178169,75061.949946,12009.4
2018-10,12314.913043,222923.478261,174640.434783,48283.043478,100000.0,60626.782609,6219.586957,281.658696,6203.936028,2029.858696,73854.918076,75810.324084,12430.1
2018-11,11239.715909,215937.818182,169152.272727,46785.545455,100000.0,54962.931818,6195.920455,278.400000,6132.158590,1938.511364,73283.719931,75082.493037,12646.3
2018-12,10831.833333,210002.857143,165430.285714,44572.571429,100000.0,55238.095238,6061.642857,272.990476,6013.006083,1918.226190,63419.695821,66758.127085,12572.2
2019-01,11483.152174,202911.391304,161180.608696,41730.782609,100000.0,41326.086957,5939.532609,269.089130,5927.073358,1854.108696,49580.086145,53519.654131,12997.2
2019-02,12685.225000,199932.000000,161052.300000,38879.700000,100000.0,32100.000000,6300.487500,286.350000,6307.268722,1862.987500,37555.776998,41700.470908,12997.2
2019-03,13026.273810,190370.285714,154656.000000,35714.285714,100000.0,31333.333333,6439.464286,291.454762,6419.708412,1871.214286,31074.706113,32959.135082,12997.2
2019-04,12755.988636,177783.545455,146510.727273,31272.818182,100000.0,33636.363636,6440.397727,292.956818,6452.793352,1846.136364,33460.186086,36110.745901,12997.2
2019-05,12035.913043,167191.826087,140186.086957,27005.739130,100000.0,34152.173913,6023.358696,273.680435,6028.203409,1780.304348,35561.550430,37052.068244,12997.2
2019-06,11943.937500,165138.000000,142254.900000,22883.100000,100000.0,28809.000000,5882.225000,267.660000,5895.594714,1755.950000,31757.614773,33163.062841,12997.2
2019-07,13546.304348,150811.826087,138422.347826,24279.913043,100000.0,27340.326087,5941.195652,269.184783,5929.180234,1796.989130,5474.432300,5604.064216,12786.7
2019-08,14578.000000,143670.000000,136074.000000,7596.000000,NaN,25593.000000,5875.000000,263.025000,5793.502203,1753.000000,13.448209,14.330059,12786.7

In [7]:
# Write baselines to sql datebase 
'''
baselines.to_csv('raw_data_finals/baselines.csv')

baselines = pd.read_csv('raw_data_finals/baselines.csv')
baselines['Unnamed: 0'] = pd.to_datetime(baselines['Unnamed: 0'])
baselines.index = baselines['Unnamed: 0']
baselines = baselines.iloc[:, 1:len(baselines.columns)]
baselines.to_sql("baselines", con=engine, if_exists='replace', index = True)
'''

'\nbaselines.to_csv(\'raw_data_finals/baselines.csv\')\n\nbaselines = pd.read_csv(\'raw_data_finals/baselines.csv\')\nbaselines[\'Unnamed: 0\'] = pd.to_datetime(baselines[\'Unnamed: 0\'])\nbaselines.index = baselines[\'Unnamed: 0\']\nbaselines = baselines.iloc[:, 1:len(baselines.columns)]\nbaselines.to_sql("baselines", con=engine, if_exists=\'replace\', index = True)\n'

In [23]:
for key, model in usage['Model'].items():
    usage.iloc[key, 1]= model.replace('-', '')
    #print(model.replace('-', ''))
for key, model in usage['Model'].items():
    print(model)
    vars()[str(model)] = baselines[['LME Ni cash price', 'LME Co cash price', 'LME Cu cash price', 'LME Al cash price', 'Lithium']]

#print(usage)

M3E3
M3E1
MS
MX
cellM48
cell2170C
cell18650H

In [24]:
M3E3

,LME Ni cash price,LME Co cash price,LME Cu cash price,LME Al cash price,Lithium
2015-01,14849.190476,30749.476190,5830.535714,1814.719048,NaN
2015-02,14573.837500,29155.375000,5729.275000,1817.820000,NaN
2015-03,13755.500000,27568.784091,5939.670455,1773.863636,NaN
2015-04,12844.204545,28657.977273,6038.556818,1815.738636,NaN
2015-05,13480.380952,30084.095238,6293.726190,1805.178571,NaN
2015-06,12825.227273,30650.386364,5833.011364,1687.727273,NaN
2015-07,11413.097826,31579.869565,5456.750000,1639.500000,NaN
2015-08,10369.190476,29191.333333,5128.238095,1550.011905,NaN
2015-09,9937.545455,27714.306818,5217.250000,1589.602273,NaN
2015-10,10316.829545,27499.045455,5216.090909,1516.488636,NaN
2015-11,9244.333333,24413.702381,4799.904762,1467.892857,NaN
2015-12,8698.369565,24016.728261,4643.326087,1500.228261,NaN
2016-01,8520.273810,23173.428571,4482.928571,1482.011905,NaN
2016-02,8298.500000,22275.880952,4598.619048,1531.261905,NaN
2016-03,8708.119565,22973.260870,4955.815217,1525.467391,NaN
2016-04,8878.857143,23000.500000,4872.738095,1571.226190,NaN
2016-05,8681.590909,23439.363636,4712.511364,1555.829545,NaN
2016-06,8928.352273,23692.727273,4641.965909,1593.506818,NaN
2016-07,10262.857143,25085.523810,4864.904762,1629.047619,NaN
2016-08,10310.826087,26283.695652,4745.228261,1638.804348,NaN
2016-09,10191.784091,26625.000000,4722.204545,1592.363636,NaN
2016-10,10259.738095,28205.666667,4731.261905,1665.904762,NaN
2016-11,11128.909091,29258.409091,5450.931818,1737.113636,NaN
2016-12,10916.045455,31692.886364,5641.750000,1728.238636,NaN
2017-01,9971.125000,34630.090909,5744.034091,1787.272727,NaN
2017-02,10643.300000,43005.000000,5940.912500,1860.750000,NaN
2017-03,10204.663043,52765.217391,5824.630435,1901.467391,NaN
2017-04,9617.875000,55300.000000,5681.512500,1918.600000,NaN
2017-05,9160.934783,54983.945652,5606.054348,1914.141304,NaN
2017-06,8931.761364,57449.454545,5719.761364,1885.286364,NaN
2017-07,9491.392857,58548.904762,5985.119048,1902.964286,NaN
2017-08,10913.282609,58564.478261,6492.706522,2031.586957,NaN
2017-09,11215.785714,60128.500000,6577.166667,2096.488095,NaN
2017-10,11335.772727,59905.863636,6807.602273,2131.488636,NaN
2017-11,11972.000000,62118.045455,6826.545455,2097.440909,NaN
2017-12,11550.095238,72877.095238,6857.809524,2090.071429,NaN
2018-01,12857.945652,77202.717391,7071.989130,2211.739130,11426
2018-02,13595.875000,80792.600000,7006.525000,2181.787500,11056.2
2018-03,13386.159091,87884.681818,6793.727273,2065.488636,11830.4
2018-04,13905.476190,90914.285714,6843.309524,2241.928571,11507.6
2018-05,14364.967391,90195.652174,6825.478261,2300.695652,12350.7
2018-06,15105.654762,81188.095238,6965.857143,2237.619048,11561.6
2018-07,13793.863636,70647.727273,6250.750000,2082.238636,10983.7
2018-08,13408.163043,63324.195652,6052.804348,2052.434783,12075.4
2018-09,12510.350000,62210.325000,6050.762500,2026.462500,12009.4
2018-10,12314.913043,60626.782609,6219.586957,2029.858696,12430.1
2018-11,11239.715909,54962.931818,6195.920455,1938.511364,12646.3
2018-12,10831.833333,55238.095238,6061.642857,1918.226190,12572.2
2019-01,11483.152174,41326.086957,5939.532609,1854.108696,12997.2
2019-02,12685.225000,32100.000000,6300.487500,1862.987500,12997.2
2019-03,13026.273810,31333.333333,6439.464286,1871.214286,12997.2
2019-04,12755.988636,33636.363636,6440.397727,1846.136364,12997.2
2019-05,12035.913043,34152.173913,6023.358696,1780.304348,12997.2
2019-06,11943.937500,28809.000000,5882.225000,1755.950000,12997.2
2019-07,13546.304348,27340.326087,5941.195652,1796.989130,12786.7
2019-08,14578.000000,25593.000000,5875.000000,1753.000000,12786.7

In [25]:
 
for key, model in usage['Model'].items():
    '''Split models by cells and vehicles'''
    # Cells usage calculations
    if model[0:4]=='cell':
        for metal in usage.columns[3:7]:
        #print('usage ', usage.loc[key, metal])

            if metal != 'Copper':
                symbol = metal[:2]
                col_name = 'LME ' + symbol + ' cash price'
                new_col_name = symbol + ' usage'
                '''Populate columns in dataframe/Calculation of new usage amounts'''
                #print(str(model)[col_name]*usage.loc[key, metal])

                vars()[str(model)].loc[:,new_col_name] = (vars()[str(model)].loc[:,col_name]*usage.loc[key, metal])/(usage.loc[key, 'cell_energy'])

            else:
                symbol = 'Cu'
                col_name = 'LME ' + symbol + ' cash price'
                new_col_name = symbol + ' usage'
                '''Populate columns in dataframe'''
                #print(str(model)[col_name]*usage.loc[key, metal])
                vars()[str(model)].loc[:,new_col_name] = (vars()[str(model)].loc[:,col_name]*usage.loc[key, metal])/(usage.loc[key, 'cell_energy'])

        # Separate calculation for lithium 
        col_name = 'Lithium'
        new_col_name = 'Li Usage'
        vars()[str(model)].loc[:,new_col_name] = (vars()[str(model)].loc[:,col_name]*usage.loc[key,'LiOH' ])/(usage.loc[key, 'cell_energy'])
        

    # Vehicles usage calculations
    else:
    
        for metal in usage.columns[3:7]:
            #print('usage ', usage.loc[key, metal])

            if metal != 'Copper':
                symbol = metal[:2]
                col_name = 'LME ' + symbol + ' cash price'
                new_col_name = symbol + ' usage'
                '''Populate columns in dataframe/Calculation of new usage amounts'''
                #print(str(model)[col_name]*usage.loc[key, metal])

                vars()[str(model)].loc[:,new_col_name] = (vars()[str(model)].loc[:,col_name]*usage.loc[key, metal])/(1000*usage.loc[key, 'cell_energy'])

            else:
                symbol = 'Cu'
                col_name = 'LME ' + symbol + ' cash price'
                new_col_name = symbol + ' usage'
                '''Populate columns in dataframe'''
                #print(str(model)[col_name]*usage.loc[key, metal])
                vars()[str(model)].loc[:,new_col_name] = (vars()[str(model)].loc[:,col_name]*usage.loc[key, metal])/(1000*usage.loc[key, 'cell_energy'])

        # Separate calculation for lithium 
        col_name = 'Lithium' 
        new_col_name = 'Li Usage'
        vars()[str(model)].loc[:,new_col_name] = (vars()[str(model)].loc[:,col_name]*usage.loc[key,'LiOH'])/(1000*usage.loc[key, 'cell_energy'])

C:\Users\ckato\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\ckato\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [28]:
M3E3

,LME Ni cash price,LME Co cash price,LME Cu cash price,LME Al cash price,Lithium,Ni usage,Co usage,Cu usage,Al usage,Li Usage
2015-01,14849.190476,30749.476190,5830.535714,1814.719048,NaN,1022.082196,142.383545,293.476050,765.356315,NaN
2015-02,14573.837500,29155.375000,5729.275000,1817.820000,NaN,1003.129421,135.002158,288.379161,766.664140,NaN
2015-03,13755.500000,27568.784091,5939.670455,1773.863636,NaN,946.802566,127.655547,298.969273,748.125578,NaN
2015-04,12844.204545,28657.977273,6038.556818,1815.738636,NaN,884.077338,132.698989,303.946651,765.786326,NaN
2015-05,13480.380952,30084.095238,6293.726190,1805.178571,NaN,927.865892,139.302540,316.790428,761.332627,NaN
2015-06,12825.227273,30650.386364,5833.011364,1687.727273,NaN,882.771117,141.924716,293.600661,711.797635,NaN
2015-07,11413.097826,31579.869565,5456.750000,1639.500000,NaN,785.573066,146.228630,274.661801,691.457821,NaN
2015-08,10369.190476,29191.333333,5128.238095,1550.011905,NaN,713.720050,135.168661,258.126377,653.716288,NaN
2015-09,9937.545455,27714.306818,5217.250000,1589.602273,NaN,684.009563,128.329381,262.606731,670.413495,NaN
2015-10,10316.829545,27499.045455,5216.090909,1516.488636,NaN,710.116004,127.332627,262.548389,639.577877,NaN
2015-11,9244.333333,24413.702381,4799.904762,1467.892857,NaN,636.295193,113.046137,241.599942,619.082645,NaN
2015-12,8698.369565,24016.728261,4643.326087,1500.228261,NaN,598.716050,111.207973,233.718661,632.720076,NaN
2016-01,8520.273810,23173.428571,4482.928571,1482.011905,NaN,586.457570,107.303126,225.645161,625.037342,NaN
2016-02,8298.500000,22275.880952,4598.619048,1531.261905,NaN,571.192694,103.147087,231.468363,645.808491,NaN
2016-03,8708.119565,22973.260870,4955.815217,1525.467391,NaN,599.387151,106.376262,249.447589,643.364659,NaN
2016-04,8878.857143,23000.500000,4872.738095,1571.226190,NaN,611.139161,106.502391,245.265959,662.663397,NaN
2016-05,8681.590909,23439.363636,4712.511364,1555.829545,NaN,597.561161,108.534522,237.201055,656.169874,NaN
2016-06,8928.352273,23692.727273,4641.965909,1593.506818,NaN,614.545952,109.707706,233.650197,672.060234,NaN
2016-07,10262.857143,25085.523810,4864.904762,1629.047619,NaN,706.401038,116.156964,244.871673,687.049538,NaN
2016-08,10310.826087,26283.695652,4745.228261,1638.804348,NaN,709.702781,121.705025,238.847838,691.164431,NaN
2016-09,10191.784091,26625.000000,4722.204545,1592.363636,NaN,701.509020,123.285414,237.688955,671.578098,NaN
2016-10,10259.738095,28205.666667,4731.261905,1665.904762,NaN,706.186351,130.604593,238.144851,702.594009,NaN
2016-11,11128.909091,29258.409091,5450.931818,1737.113636,NaN,766.012118,135.479251,274.368946,732.626295,NaN
2016-12,10916.045455,31692.886364,5641.750000,1728.238636,NaN,751.360536,146.751947,283.973650,728.883271,NaN
2017-01,9971.125000,34630.090909,5744.034091,1787.272727,NaN,686.320871,160.352491,289.122050,753.780852,NaN
2017-02,10643.300000,43005.000000,5940.912500,1860.750000,NaN,732.587238,199.131989,299.031791,784.769833,NaN
2017-03,10204.663043,52765.217391,5824.630435,1901.467391,NaN,702.395490,244.326071,293.178812,801.942360,NaN
2017-04,9617.875000,55300.000000,5681.512500,1918.600000,NaN,662.006378,256.063225,285.975068,809.168025,NaN
2017-05,9160.934783,54983.945652,5606.054348,1914.141304,NaN,630.554801,254.599755,282.176933,807.287573,NaN
2017-06,8931.761364,57449.454545,5719.761364,1885.286364,NaN,614.780603,266.016141,287.900299,795.118025,NaN
2017-07,9491.392857,58548.904762,5985.119048,1902.964286,NaN,653.300506,271.107077,301.256897,802.573674,NaN
2017-08,10913.282609,58564.478261,6492.706522,2031.586957,NaN,751.170367,271.179189,326.805968,856.820184,NaN
2017-09,11215.785714,60128.500000,6577.166667,2096.488095,NaN,771.991908,278.421295,331.057212,884.192187,NaN
2017-10,11335.772727,59905.863636,6807.602273,2131.488636,NaN,780.250715,277.390391,342.656031,898.953638,NaN
2017-11,11972.000000,62118.045455,6826.545455,2097.440909,NaN,824.042770,287.633762,343.609523,884.594036,NaN
2017-12,11550.095238,72877.095238,6857.809524,2090.071429,NaN,795.002712,337.452876,345.183179,881.485963,NaN
2018-01,12857.945652,77202.717391,7071.989130,2211.739130,11426,885.023150,357.482401,355.963764,932.799220,652.123
2018-02,13595.875000,80792.600000,7006.525000,2181.787500,11056.2,935.815444,374.105130,352.668671,920.167143,631.017
2018-03,13386.159091,87884.681818,6793.727273,2065.488636,11830.4,921.380523,406.944576,341.957643,871.118190,675.204
2018-04,13905.476190,90914.285714,6843.309524,2241.928571,11507.6,957.125553,420.972969,344.453331,945.531592,656.78
2018-05,14364.967391,90195.652174,6825.478261,2300.695652,12350.7,988.752716,417.645381,343.555807,970.316562,704.896
2018-06,15105.654762,81188.095238,6965.857143,2237.619048,11561.6,1039.734847,375.936447,350.621683,943.714054,659.861
2018-07,13793.863636,70647.727273,6250.750000,2082.238636,10983.7,949.443167,327.129926,314.627251,878.182489,626.878
2018-08,13408.163043,63324.195652,6052.804348,2052.434783,12075.4,922.895073,293.218766,304.663791,865.612738,689.186
2018-09,12510.350000,62210.325000,6050.762500,2026.462500,12009.4,861.097851,288.061057,304.561016,854.658948,685.418
2018-10,12314.913043,60626.782609,6219.586957,2029.858696,12430.1,847.645761,280.728562,313.058680,856.091291,709.427
2018-11,11239.715909,54962.931818,6195.920455,1938.511364,12646.3,773.639044,254.502452,311.867443,817.565626,721.768
2018-12,10831.833333,55238.095238,6061.642857,1918.226190,12572.2,745.564145,255.776579,305.108671,809.010371,717.54
2019-01,11483.152174,41326.086957,5939.532609,1854.108696,12997.2,790.394965,191.357886,298.962335,781.968868,741.795
2019-02,12685.225000,32100.000000,6300.487500,1862.987500,12997.2,873.134643,148.637062,317.130754,785.713497,741.795
2019-03,13026.273810,31333.333333,6439.464286,1871.214286,12997.2,896.609318,145.087059,324.126056,789.183137,741.795
2019-04,12755.988636,33636.363636,6440.397727,1846.136364,12997.2,878.005363,155.751099,324.173040,778.606543,741.795
2019-05,12035.913043,34152.173913,6023.358696,1780.304348,12997.2,828.441958,158.139526,303.181664,750.841943,741.795
2019-06,11943.937500,28809.000000,5882.225000,1755.950000,12997.2,822.111205,133.398290,296.077795,740.570516,741.795
2019-07,13546.304348,27340.326087,5941.195652,1796.989130,12786.7,932.403455,126.597687,299.046043,757.878737,729.782
2019-08,14578.000000,25593.000000,5875.000000,1753.000000,12786.7,1003.415929,118.506801,295.714130,739.326356,729.782

In [27]:
M3E3.to_csv('raw_data_finals/usage_per_model/M3E3.csv')
M3E1.to_csv('raw_data_finals/usage_per_model/M3E1.csv')
MS.to_csv('raw_data_finals/usage_per_model/MS.csv')
MX.to_csv('raw_data_finals/usage_per_model/MX.csv')
cellM48.to_csv('raw_data_finals/usage_per_model/cellM48.csv')
cell2170C.to_csv('raw_data_finals/usage_per_model/cell2170C.csv')
cell18650H.to_csv('raw_data_finals/usage_per_model/cell18650H.csv')

In [67]:
M3E3df = pd.read_csv('raw_data_finals/usage_per_model/M3E3.csv')
M3E1df = pd.read_csv('raw_data_finals/usage_per_model/M3E1.csv')
MSdf = pd.read_csv('raw_data_finals/usage_per_model/MS.csv')
MXdf = pd.read_csv('raw_data_finals/usage_per_model/MX.csv')
cellM48df = pd.read_csv('raw_data_finals/usage_per_model/cellM48.csv')
cell2170Cdf = pd.read_csv('raw_data_finals/usage_per_model/cell2170C.csv')
cell18650df=pd.read_csv('raw_data_finals/usage_per_model/cell18650H.csv')

M3E3df['Unnamed: 0'] = pd.to_datetime(M3E3df['Unnamed: 0'])
M3E1df['Unnamed: 0: 0'] = pd.to_datetime(M3E1df['Unnamed: 0'])
MSdf['Unnamed: 0'] = pd.to_datetime(MSdf['Unnamed: 0'])
MXdf['Unnamed: 0'] = pd.to_datetime(MXdf['Unnamed: 0'])
cellM48df['Unnamed: 0'] = pd.to_datetime(cellM48df['Unnamed: 0'])
cell2170Cdf['Unnamed: 0'] = pd.to_datetime(cell2170Cdf['Unnamed: 0'])
cell18650df['Unnamed: 0'] = pd.to_datetime(cell18650df['Unnamed: 0'])

M3E3df.index = M3E3df['Unnamed: 0']
M3E1df.index = M3E3df['Unnamed: 0']
MSdf.index = M3E3df['Unnamed: 0']
MXdf.index = M3E3df['Unnamed: 0']
cellM48df.index = M3E3df['Unnamed: 0']
cell2170Cdf.index = M3E3df['Unnamed: 0']
cell18650df.index = M3E3df['Unnamed: 0']


M3E3df = M3E3df.iloc[:, 1:len(M3E3df.columns)]
M3E1df = M3E1df.iloc[:, 1:len(M3E1df.columns)]
MSdf = MSdf.iloc[:, 1:len(MSdf.columns)]
MXdf = MXdf.iloc[:, 1:len(MXdf.columns)]
cellM48df = cellM48df.iloc[:, 1:len(cellM48df.columns)]
cell2170Cdf = cell2170Cdf.iloc[:, 1:len(cell2170Cdf.columns)]
cell18650df = cell18650df.iloc[:, 1:len(cell18650df.columns)]

In [68]:
M3E3df.to_sql("M3E3", con=engine, if_exists='replace', index = True)
M3E1df.to_sql("M3E1", con=engine, if_exists='replace', index = True)
MSdf.to_sql("MS", con=engine, if_exists='replace', index = True)
MXdf.to_sql("MX", con=engine, if_exists='replace', index = True)
cellM48df.to_sql("cellM48", con=engine, if_exists='replace', index = True)
cell2170Cdf.to_sql("cell2170C", con=engine, if_exists='replace', index = True)
cell18650df.to_sql("cell18650H", con=engine, if_exists='replace', index = True)

print(engine.table_names())

['EVSales', 'M3E1', 'M3E3', 'MS', 'MX', 'baselines', 'battery_cap', 'cell18650H', 'cell2170C', 'cellM48', 'commodities', 'fastmarkets', 'lithium_benchmark_fastmarkets', 'usage']

## Note: Need data for Mangenese, Steel

### Calculating Baselines

In [50]:
baselines = baselines[['Lithium','LME Ni cash price', 'LME Co cash price', 'LME Cu cash price', 'LME Al cash price']]

baselines = baselines.dropna(subset=['Lithium'])
baselines

,Lithium,LME Ni cash price,LME Co cash price,LME Cu cash price,LME Al cash price
2018-01,11426,12857.945652,77202.717391,7071.989130,2211.739130
2018-02,11056.2,13595.875000,80792.600000,7006.525000,2181.787500
2018-03,11830.4,13386.159091,87884.681818,6793.727273,2065.488636
2018-04,11507.6,13905.476190,90914.285714,6843.309524,2241.928571
2018-05,12350.7,14364.967391,90195.652174,6825.478261,2300.695652
2018-06,11561.6,15105.654762,81188.095238,6965.857143,2237.619048
2018-07,10983.7,13793.863636,70647.727273,6250.750000,2082.238636
2018-08,12075.4,13408.163043,63324.195652,6052.804348,2052.434783
2018-09,12009.4,12510.350000,62210.325000,6050.762500,2026.462500
2018-10,12430.1,12314.913043,60626.782609,6219.586957,2029.858696
2018-11,12646.3,11239.715909,54962.931818,6195.920455,1938.511364
2018-12,12572.2,10831.833333,55238.095238,6061.642857,1918.226190
2019-01,12997.2,11483.152174,41326.086957,5939.532609,1854.108696
2019-02,12997.2,12685.225000,32100.000000,6300.487500,1862.987500
2019-03,12997.2,13026.273810,31333.333333,6439.464286,1871.214286
2019-04,12997.2,12755.988636,33636.363636,6440.397727,1846.136364
2019-05,12997.2,12035.913043,34152.173913,6023.358696,1780.304348
2019-06,12997.2,11943.937500,28809.000000,5882.225000,1755.950000
2019-07,12786.7,13546.304348,27340.326087,5941.195652,1796.989130
2019-08,12786.7,14578.000000,25593.000000,5875.000000,1753.000000

#### Reset base if need be by changing date in base variable below

In [51]:
base = baselines.loc['2018-01-01', :]
base

Lithium                11426
LME Ni cash price    12857.9
LME Co cash price    77202.7
LME Cu cash price    7071.99
LME Al cash price    2211.74
Name: 2018-01, dtype: object

In [52]:
for col in baselines.columns:
    baselines.loc[:, col] = (baselines.loc[:, col]*100)/base[col]

In [53]:
baselines

,Lithium,LME Ni cash price,LME Co cash price,LME Cu cash price,LME Al cash price
2018-01,100,100.000000,100.000000,100.000000,100.000000
2018-02,96.7636,105.739092,104.649943,99.074318,98.645788
2018-03,103.539,104.108070,113.836254,96.065296,93.387534
2018-04,100.714,108.146951,117.760474,96.766403,101.364964
2018-05,108.093,111.720548,116.829634,96.514264,104.022017
2018-06,101.187,117.481090,105.162225,98.499263,101.170116
2018-07,96.1289,107.278908,91.509379,88.387438,94.144857
2018-08,105.683,104.279201,82.023273,85.588428,92.797327
2018-09,105.106,97.296647,80.580486,85.559556,91.623034
2018-10,108.787,95.776677,78.529338,87.946783,91.776587
2018-11,110.68,87.414554,71.193002,87.612132,87.646474
2018-12,110.031,84.242333,71.549418,85.713407,86.729315
2019-01,113.751,89.307829,53.529317,83.986733,83.830352
2019-02,113.751,98.656701,41.578847,89.090741,84.231792
2019-03,113.751,101.309137,40.585791,91.055913,84.603752
2019-04,113.751,99.207050,43.568886,91.069112,83.469897
2019-05,113.751,93.606812,44.237010,85.172058,80.493415
2019-06,113.751,92.891492,37.316044,83.176386,79.392274
2019-07,111.909,105.353567,35.413684,84.010249,81.247788
2019-08,111.909,113.377365,33.150388,83.074223,79.258895

In [54]:
baselines.to_csv('raw_data_finals/baselines.csv')

baselines = pd.read_csv('raw_data_finals/baselines.csv')
baselines['Unnamed: 0'] = pd.to_datetime(baselines['Unnamed: 0'])
baselines.index = baselines['Unnamed: 0']
baselines = baselines.iloc[:, 1:len(baselines.columns)]
baselines.to_sql("baselines", con=engine, if_exists='replace', index = True)