### Documentation: 

#### Overall
The main goal of this project is to convert multiple excel data files to appended rows in a SQL database. This will operate via the following procedure: 

1. Python/SQLite connection to SQL database. For each 
2. 
3. 

#### GSM Member Instructions after download and save: 
1. From August Dashboard xlsx file take out all spaces manually (rename)


#### Location path
C:\Users\ckato\Documents\GitHub\metals-research\data

In [105]:
from sqlalchemy import create_engine
from sqlalchemy import(Table, Column, String, Integer, Boolean)
from sqlalchemy import MetaData, Table

import pandas as pd
# https://campus.datacamp.com/courses/introduction-to-relational-databases-in-python/creating-and-manipulating-your-own-databases?ex=1
    
# Missing decimal

In [106]:
# Connecting to Engine
engine = create_engine('sqlite:///metals_dashboard.sqlite')

connection = engine.connect()

In [107]:
# What's in the database already?
print(engine.table_names())

['census', 'tester']

### Iteratively Updating

Steps to creating database

1. load csv file and create pandas dataframe
2. connect to sql server
3. concatenate subset of csv file to the end of the existing sql table associated with that csv file

In [108]:
# Conversion of FINAL-SQL file to pandas for dates range

# !?? NOTE WILL CONVERT dataframe of query (date file only) to pandas 
# pandas extraction of NEW ROW INDICES ONLY to be appended to all sql 
# table files

# create new sql statement to insert/append where clause from indices 

stmt = 'SELECT * from census;'

df = pd.read_sql_query(stmt, connection)
df

#stmt = select([census])
#conn = sqlite3.connect("flights.db")

                        Name  Population
0                    Abilene      115930
1                      Akron      217074
2                     Albany       93994
3                Albuquerque      448607
4                 Alexandria      128283
5                  Allentown      106632
6                   Amarillo      173627
7                    Anaheim      328014
8                  Anchorage      260283
9                  Ann Arbor      114024
10              Arden-Arcade       92040
11                 Arlington      332969
12                 Arlington      174838
13                    Arvada      102153
14      Athens-Clarke County      101489
15                   Atlanta      416474
16   Augusta-Richmond County      199775
17                    Aurora      276393
18                    Aurora      142990
19                    Austin      656562
20               Bakersfield      247057
21                 Baltimore      651154
22               Baton Rouge      227818
23                  Beaumont      113866
24                  Bellevue      109569
25                  Berkeley      102743
26                  Billings       92988
27                Birmingham      242820
28                Boise City      185787
29                    Boston      589141
..                       ...         ...
520            Sunrise Manor       95362
521                 Syracuse      147306
522                   Tacoma      193556
523              Tallahassee      150624
524                    Tampa      303447
525                    Tempe      158625
526            Thousand Oaks      117005
527                   Toledo      313619
528                   Topeka      122377
529                 Torrance      137946
530                   Tucson      486699
531                    Tulsa      393049
532                  Vallejo      116760
533                Vancouver      143560
534           Virginia Beach      425257
535                  Visalia       91762
536                     Waco      113726
537                   Warren      138247
538               Washington      572059
539                Waterbury      107271
540              West Covina      105080
541         West Valley City      108896
542              Westminster      100940
543                  Wichita      344284
544            Wichita Falls      104197
545            Winston-Salem      185776
546                Worcester      172648
547                  Yonkers      196086
548                   NEWONE        2000
549                   NEWTWO     3000000

[550 rows x 2 columns]

In [109]:

# read census.csv into a dataframe to create pandas dataframe
census_df = pd.read_csv("data\city.csv")

# rename the columns of the census dataframe
census_df.columns = ['Name', 'Population']

print(census_df.tail())

              Name  Population
271  Winston-Salem      185776
272      Worcester      172648
273        Yonkers      196086
274         NEWONE        2000
275         NEWTWO     3000000

## Read Raw Data from raw_data_finals folder

Reading and preprocessing/cleaning data

In [110]:
filename = 'raw_data_finals\MetalsDashboard(Aug)LATEST.xlsx'
commodities = pd.read_excel(filename, sheet_name="Commodities Data")


# read census.csv into a dataframe to create pandas dataframe
#commodities = pd.read_csv("raw_data_finals\Commodities.csv")
commodities = commodities.iloc[:, 0:len(commodities.columns)-5]

commodities.columns = commodities.iloc[0]

#############3

In [111]:
df = commodities.iloc[6: ,:]
df = df.iloc[:, 1:]
df = df.rename(columns={"Column1": "Date"})
df.head()


df.head(10)

,Date,LME Ni cash price,LME Ni inventory (total),LME Ni inventory (briquette),LME Ni inventory (other forms),Critical Inventory,LME Co cash price,LME Cu cash price,Comex Cu future
6,2015-01-02 00:00:00,14756,414900,165720,249180,100000,31619,6321,272.65
7,2015-01-05 00:00:00,15126,414756,165972,248784,100000,31365,6213.5,267.45
8,2015-01-06 00:00:00,15191,415338,166506,248832,100000,31366,6221,267.3
9,2015-01-07 00:00:00,15483,415812,167094,248718,100000,31367,6182.5,266.1
10,2015-01-08 00:00:00,15486,415842,167124,248718,100000,31371,6175.75,267.3
11,2015-01-09 00:00:00,15235.5,415164,166818,248346,100000,31371,6166.5,265.45
12,2015-01-12 00:00:00,15029,414732,166554,248178,100000,31367.5,6101,262.55
13,2015-01-13 00:00:00,14585,416436,167244,249192,100000,30769,5939.5,254
14,2015-01-14 00:00:00,14241,418320,167142,251178,100000,30769.5,5619,241.2
15,2015-01-15 00:00:00,14413.5,418332,167100,251232,100000,30774.5,5681,247.85

In [112]:
df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index('Date')

In [116]:
df = df.astype(float)
df

,LME Ni cash price,LME Ni inventory (total),LME Ni inventory (briquette),LME Ni inventory (other forms),Critical Inventory,LME Co cash price,LME Cu cash price,Comex Cu future
Date,,,,,,,,
2015-01-02,14756.00,414900.0,165720.0,249180.0,100000.0,31619.0,6321.00,272.65
2015-01-05,15126.00,414756.0,165972.0,248784.0,100000.0,31365.0,6213.50,267.45
2015-01-06,15191.00,415338.0,166506.0,248832.0,100000.0,31366.0,6221.00,267.30
2015-01-07,15483.00,415812.0,167094.0,248718.0,100000.0,31367.0,6182.50,266.10
2015-01-08,15486.00,415842.0,167124.0,248718.0,100000.0,31371.0,6175.75,267.30
2015-01-09,15235.50,415164.0,166818.0,248346.0,100000.0,31371.0,6166.50,265.45
2015-01-12,15029.00,414732.0,166554.0,248178.0,100000.0,31367.5,6101.00,262.55
2015-01-13,14585.00,416436.0,167244.0,249192.0,100000.0,30769.0,5939.50,254.00
2015-01-14,14241.00,418320.0,167142.0,251178.0,100000.0,30769.5,5619.00,241.20
2015-01-15,14413.50,418332.0,167100.0,251232.0,100000.0,30774.5,5681.00,247.85
2015-01-16,14722.00,418518.0,166470.0,252048.0,100000.0,30773.5,5768.00,253.35
2015-01-19,14417.00,417900.0,165990.0,251910.0,100000.0,31015.0,5709.00,253.35
2015-01-20,14721.00,418062.0,165654.0,252408.0,100000.0,30615.0,5722.00,251.05
2015-01-21,14971.50,419964.0,166794.0,253170.0,100000.0,30816.0,5801.00,252.65
2015-01-22,14792.00,421842.0,167820.0,254022.0,100000.0,30620.0,5696.50,249.85
2015-01-23,14293.00,423036.0,168120.0,254916.0,100000.0,30370.0,5549.00,242.55
2015-01-26,14692.00,424344.0,168900.0,255444.0,100000.0,30368.0,5628.50,246.80
2015-01-27,14730.50,424110.0,168288.0,255822.0,100000.0,30365.0,5453.00,238.95
2015-01-28,14993.00,423726.0,167580.0,256146.0,100000.0,29616.0,5519.50,240.60
2015-01-29,14846.00,425562.0,167778.0,257784.0,100000.0,29620.0,5433.00,237.30
2015-01-30,15109.00,426240.0,167310.0,258930.0,100000.0,29421.0,5541.00,240.55
2015-02-02,15274.00,424974.0,166194.0,258780.0,100000.0,29438.5,5525.00,240.75
2015-02-03,15255.50,424572.0,165462.0,259110.0,100000.0,29640.0,5719.00,249.50
2015-02-04,15070.00,424788.0,165462.0,259326.0,100000.0,29642.0,5732.75,250.10
2015-02-05,15122.75,423480.0,164070.0,259410.0,100000.0,29646.0,5743.50,250.90
2015-02-06,15179.00,424206.0,163698.0,260508.0,100000.0,29198.0,5670.00,250.10
2015-02-09,15098.75,426324.0,164586.0,261738.0,100000.0,29200.0,5687.50,250.00
2015-02-10,14764.75,426090.0,164460.0,261630.0,100000.0,29055.0,5604.75,247.50
2015-02-11,14690.50,426018.0,164202.0,261816.0,100000.0,29056.0,5610.25,245.35
2015-02-12,14648.00,425310.0,163458.0,261852.0,100000.0,29209.0,5752.25,251.10
...,...,...,...,...,...,...,...,...
2019-06-24,12069.50,168876.0,145242.0,23634.0,100000.0,28000.0,5941.25,270.50
2019-06-25,12234.00,168252.0,145176.0,23076.0,100000.0,28000.0,6025.50,273.50
2019-06-26,12424.00,164838.0,144276.0,20562.0,100000.0,27860.0,5971.00,271.55
2019-06-27,12658.00,165480.0,144624.0,20856.0,100000.0,28720.0,5976.50,271.65
2019-06-28,12617.00,164718.0,143880.0,20838.0,100000.0,28600.0,5982.00,271.35
2019-07-01,12266.00,161658.0,143280.0,18378.0,100000.0,28600.0,5937.75,268.80
2019-07-02,12004.50,161448.0,143118.0,18330.0,NaN,28600.0,5868.50,266.40
2019-07-03,12271.50,158292.0,140328.0,290568.0,100000.0,28600.0,5908.75,268.30
2019-07-04,12270.00,157386.0,139932.0,18330.0,100000.0,28600.0,5909.00,268.30
2019-07-05,12418.00,157464.0,140208.0,17256.0,NaN,28600.0,5890.25,266.10
2019-07-08,12676.00,154740.0,139512.0,15228.0,NaN,28600.0,5873.25,265.90
2019-07-09,12646.50,154104.0,139428.0,14676.0,NaN,26647.0,5808.50,262.50
2019-07-10,12928.00,153612.0,139332.0,14280.0,NaN,26650.0,5928.50,269.40
2019-07-11,13073.00,153420.0,139692.0,13728.0,NaN,26650.0,5948.00,268.75
2019-07-12,13409.50,150840.0,139398.0,11442.0,NaN,26650.0,5928.75,269.40
2019-07-15,13595.00,150324.0,138978.0,11346.0,NaN,27584.0,5976.00,271.10
2019-07-16,14004.00,149322.0,137976.0,11346.0,NaN,27583.0,6000.00,270.00
2019-07-17,14419.00,148374.0,137028.0,11346.0,NaN,27583.0,5968.00,271.60
2019-07-18,14817.00,148230.0,136902.0,11328.0,NaN,27592.0,5970.50,271.00
2019-07-19,14680.00,147942.0,136818.0,11124.0,NaN,27596.0,6055.25,275.25
2019-07-22,14256.00,147624.0,136872.0,10752.0,NaN,27583.0,5997.00,272.20
2019-07-23,14131.00,146670.0,136332.0,10338.0,NaN,27583.5,5946.00,270.00
2019-07-24,14508.00,145056.0,136284.0,8772.0,NaN,27584.0,5978.75,271.20
2019-07-25,14032.00,145500.0,137112.0,8388.0,NaN,27593.0,5986.50,270.35
2019-07-26,14063.00,145062.0,137040.0,8022.0,NaN,25597.0,5941.00,268.50
2019-07-29,14325.00,143988.0,136080.0,7908.0,NaN,25584.0,6000.00,271.75
2019-07-30,14320.00,143988.0,136032.0,7956.0,NaN,25584.0,5925.00,267.85
2019-07-31,14452.00,143628.0,136032.0,7596.0,NaN,25584.0,5902.25,266.60
2019-08-01,14578.00,143670.0,136074.0,7596.0,NaN,25593.0,5875.00,266.55
2019-08-02,14578.00,143670.0,136074.0,7596.0,NaN,25593.0,5875.00,259.50

## SQL Body

SQL statement below needs to be able to merge the most recent columns of the pandas csv dataframe (**NOTE: Using a where clause that only allows for the NEW/UNIQUE dates to be selected**) to a the SQL database 

- After that, execute the statement and fetch (as read-only to check)

In [53]:
# APPEND or CREATE the TABLE/DATAFRAME from df saved as "tester" table via SQL connection
df.to_sql(name="tester", con=connection, if_exists="append", index=True)

# SQL EXECUTION 
result_proxy = connection.execute(stmt)

# fetches a result set as python object
results = result_proxy.fetchall()

In [58]:
stmt = 'SELECT * from tester;'

df = pd.read_sql_query(stmt, connection)
df.set_index("Date")

,nan,LME Ni cash price,LME Ni inventory (total),LME Ni inventory (briquette),LME Ni inventory (other forms),Critical Inventory,LME Co cash price,LME Cu cash price,Comex Cu future
Date,,,,,,,,,
2015-01-02 00:00:00.000000,None,14756,414900,165720,249180,100000.0,31619,6321,272.65
2015-01-05 00:00:00.000000,None,15126,414756,165972,248784,100000.0,31365,6213.5,267.45
2015-01-06 00:00:00.000000,None,15191,415338,166506,248832,100000.0,31366,6221,267.3
2015-01-07 00:00:00.000000,None,15483,415812,167094,248718,100000.0,31367,6182.5,266.1
2015-01-08 00:00:00.000000,None,15486,415842,167124,248718,100000.0,31371,6175.75,267.3
2015-01-09 00:00:00.000000,None,15235.5,415164,166818,248346,100000.0,31371,6166.5,265.45
2015-01-12 00:00:00.000000,None,15029,414732,166554,248178,100000.0,31367.5,6101,262.55
2015-01-13 00:00:00.000000,None,14585,416436,167244,249192,100000.0,30769,5939.5,254
2015-01-14 00:00:00.000000,None,14241,418320,167142,251178,100000.0,30769.5,5619,241.2
2015-01-15 00:00:00.000000,None,14413.5,418332,167100,251232,100000.0,30774.5,5681,247.85
2015-01-16 00:00:00.000000,None,14722,418518,166470,252048,100000.0,30773.5,5768,253.35
2015-01-19 00:00:00.000000,None,14417,417900,165990,251910,100000.0,31015,5709,253.35
2015-01-20 00:00:00.000000,None,14721,418062,165654,252408,100000.0,30615,5722,251.05
2015-01-21 00:00:00.000000,None,14971.5,419964,166794,253170,100000.0,30816,5801,252.65
2015-01-22 00:00:00.000000,None,14792,421842,167820,254022,100000.0,30620,5696.5,249.85
2015-01-23 00:00:00.000000,None,14293,423036,168120,254916,100000.0,30370,5549,242.55
2015-01-26 00:00:00.000000,None,14692,424344,168900,255444,100000.0,30368,5628.5,246.8
2015-01-27 00:00:00.000000,None,14730.5,424110,168288,255822,100000.0,30365,5453,238.95
2015-01-28 00:00:00.000000,None,14993,423726,167580,256146,100000.0,29616,5519.5,240.6
2015-01-29 00:00:00.000000,None,14846,425562,167778,257784,100000.0,29620,5433,237.3
2015-01-30 00:00:00.000000,None,15109,426240,167310,258930,100000.0,29421,5541,240.55
2015-02-02 00:00:00.000000,None,15274,424974,166194,258780,100000.0,29438.5,5525,240.75
2015-02-03 00:00:00.000000,None,15255.5,424572,165462,259110,100000.0,29640,5719,249.5
2015-02-04 00:00:00.000000,None,15070,424788,165462,259326,100000.0,29642,5732.75,250.1
2015-02-05 00:00:00.000000,None,15122.75,423480,164070,259410,100000.0,29646,5743.5,250.9
2015-02-06 00:00:00.000000,None,15179,424206,163698,260508,100000.0,29198,5670,250.1
2015-02-09 00:00:00.000000,None,15098.75,426324,164586,261738,100000.0,29200,5687.5,250
2015-02-10 00:00:00.000000,None,14764.75,426090,164460,261630,100000.0,29055,5604.75,247.5
2015-02-11 00:00:00.000000,None,14690.5,426018,164202,261816,100000.0,29056,5610.25,245.35
2015-02-12 00:00:00.000000,None,14648,425310,163458,261852,100000.0,29209,5752.25,251.1
...,...,...,...,...,...,...,...,...,...
2019-06-24 00:00:00.000000,None,12069.5,168876,145242,23634,100000.0,28000,5941.25,270.5
2019-06-25 00:00:00.000000,None,12234,168252,145176,23076,100000.0,28000,6025.5,273.5
2019-06-26 00:00:00.000000,None,12424,164838,144276,20562,100000.0,27860,5971,271.55
2019-06-27 00:00:00.000000,None,12658,165480,144624,20856,100000.0,28720,5976.5,271.65
2019-06-28 00:00:00.000000,None,12617,164718,143880,20838,100000.0,28600,5982,271.35
2019-07-01 00:00:00.000000,None,12266,161658,143280,18378,100000.0,28600,5937.75,268.8
2019-07-02 00:00:00.000000,None,12004.5,161448,143118,18330,NaN,28600,5868.5,266.4
2019-07-03 00:00:00.000000,None,12271.5,158292,140328,290568,100000.0,28600,5908.75,268.3
2019-07-04 00:00:00.000000,None,12270,157386,139932,18330,100000.0,28600,5909,268.3
2019-07-05 00:00:00.000000,None,12418,157464,140208,17256,NaN,28600,5890.25,266.1
2019-07-08 00:00:00.000000,None,12676,154740,139512,15228,NaN,28600,5873.25,265.9
2019-07-09 00:00:00.000000,None,12646.5,154104,139428,14676,NaN,26647,5808.5,262.5
2019-07-10 00:00:00.000000,None,12928,153612,139332,14280,NaN,26650,5928.5,269.4
2019-07-11 00:00:00.000000,None,13073,153420,139692,13728,NaN,26650,5948,268.75
2019-07-12 00:00:00.000000,None,13409.5,150840,139398,11442,NaN,26650,5928.75,269.4
2019-07-15 00:00:00.000000,None,13595,150324,138978,11346,NaN,27584,5976,271.1
2019-07-16 00:00:00.000000,None,14004,149322,137976,11346,NaN,27583,6000,270
2019-07-17 00:00:00.000000,None,14419,148374,137028,11346,NaN,27583,5968,271.6
2019-07-18 00:00:00.000000,None,14817,148230,136902,11328,NaN,27592,5970.5,271
2019-07-19 00:00:00.000000,None,14680,147942,136818,11124,NaN,27596,6055.25,275.25
2019-07-22 00:00:00.000000,None,14256,147624,136872,10752,NaN,27583,5997,272.2
2019-07-23 00:00:00.000000,None,14131,146670,136332,10338,NaN,27583.5,5946,270
2019-07-24 00:00:00.000000,None,14508,145056,136284,8772,NaN,27584,5978.75,271.2
2019-07-25 00:00:00.000000,None,14032,145500,137112,8388,NaN,27593,5986.5,270.35
2019-07-26 00:00:00.000000,None,14063,145062,137040,8022,NaN,25597,5941,268.5
2019-07-29 00:00:00.000000,None,14325,143988,136080,7908,NaN,25584,6000,271.75
2019-07-30 00:00:00.000000,None,14320,143988,136032,7956,NaN,25584,5925,267.85
2019-07-31 00:00:00.000000,None,14452,143628,136032,7596,NaN,25584,5902.25,266.6
2019-08-01 00:00:00.000000,None,14578,143670,136074,7596,NaN,25593,5875,266.55
2019-08-02 00:00:00.000000,None,14578,143670,136074,7596,NaN,25593,5875,259.5

In [54]:
for item in results:
    print(item)
    print(item.keys())

('Abilene', 115930)
['Name', 'Population']
('Akron', 217074)
['Name', 'Population']
('Albany', 93994)
['Name', 'Population']
('Albuquerque', 448607)
['Name', 'Population']
('Alexandria', 128283)
['Name', 'Population']
('Allentown', 106632)
['Name', 'Population']
('Amarillo', 173627)
['Name', 'Population']
('Anaheim', 328014)
['Name', 'Population']
('Anchorage', 260283)
['Name', 'Population']
('Ann Arbor', 114024)
['Name', 'Population']
('Arden-Arcade', 92040)
['Name', 'Population']
('Arlington', 332969)
['Name', 'Population']
('Arlington', 174838)
['Name', 'Population']
('Arvada', 102153)
['Name', 'Population']
('Athens-Clarke County', 101489)
['Name', 'Population']
('Atlanta', 416474)
['Name', 'Population']
('Augusta-Richmond County', 199775)
['Name', 'Population']
('Aurora', 276393)
['Name', 'Population']
('Aurora', 142990)
['Name', 'Population']
('Austin', 656562)
['Name', 'Population']
('Bakersfield', 247057)
['Name', 'Population']
('Baltimore', 651154)
['Name', 'Population']
('Baton Rouge', 227818)
['Name', 'Population']
('Beaumont', 113866)
['Name', 'Population']
('Bellevue', 109569)
['Name', 'Population']
('Berkeley', 102743)
['Name', 'Population']
('Billings', 92988)
['Name', 'Population']
('Birmingham', 242820)
['Name', 'Population']
('Boise City', 185787)
['Name', 'Population']
('Boston', 589141)
['Name', 'Population']
('Boulder', 91238)
['Name', 'Population']
('Bridgeport', 139529)
['Name', 'Population']
('Brockton', 93653)
['Name', 'Population']
('Brownsville', 139722)
['Name', 'Population']
('Buffalo', 292648)
['Name', 'Population']
('Burbank', 100316)
['Name', 'Population']
('Cambridge', 101355)
['Name', 'Population']
('Cape Coral', 102286)
['Name', 'Population']
('Carrollton', 109576)
['Name', 'Population']
('Carson', 89089)
['Name', 'Population']
('Cary', 91213)
['Name', 'Population']
('Cedar Rapids', 120758)
['Name', 'Population']
('Chandler', 176581)
['Name', 'Population']
('Charleston', 89063)
['Name', 'Population']
('Charlotte', 540828)
['Name', 'Population']
('Chattanooga', 155554)
['Name', 'Population']
('Chesapeake', 199184)
['Name', 'Population']
('Chicago', 2896016)
['Name', 'Population']
('Chula Vista', 173556)
['Name', 'Population']
('Cincinnati', 331285)
['Name', 'Population']
('Citrus Heights', 103455)
['Name', 'Population']
('Clarksville', 108787)
['Name', 'Population']
('Clearwater', 99936)
['Name', 'Population']
('Cleveland', 478403)
['Name', 'Population']
('Colorado Springs', 360890)
['Name', 'Population']
('Columbia', 116278)
['Name', 'Population']
('Columbus', 711470)
['Name', 'Population']
('Columbus', 186291)
['Name', 'Population']
('Compton', 92864)
['Name', 'Population']
('Concord', 121780)
['Name', 'Population']
('Coral Springs', 117549)
['Name', 'Population']
('Corona', 124966)
['Name', 'Population']
('Corpus Christi', 277454)
['Name', 'Population']
('Costa Mesa', 108724)
['Name', 'Population']
('Dallas', 1188580)
['Name', 'Population']
('Daly City', 103621)
['Name', 'Population']
('Davenport', 98256)
['Name', 'Population']
('Dayton', 166179)
['Name', 'Population']
('Denver', 554636)
['Name', 'Population']
('Des Moines', 198682)
['Name', 'Population']
('Detroit', 951270)
['Name', 'Population']
('Downey', 107323)
['Name', 'Population']
('Durham', 187035)
['Name', 'Population']
('East Los Angeles', 126379)
['Name', 'Population']
('El Cajon', 94578)
['Name', 'Population']
('El Monte', 115965)
['Name', 'Population']
('El Paso', 563662)
['Name', 'Population']
('Elgin', 89408)
['Name', 'Population']
('Elizabeth', 120568)
['Name', 'Population']
('Erie', 103717)
['Name', 'Population']
('Escondido', 133559)
['Name', 'Population']
('Eugene', 137893)
['Name', 'Population']
('Evansville', 121582)
['Name', 'Population']
('Fairfield', 92256)
['Name', 'Population']
('Fall River', 90555)
['Name', 'Population']
('Fayetteville', 121015)
['Name', 'Population']
('Flint', 124943)
['Name', 'Population']
('Fontana', 128929)
['Name', 'Population']
('Fort Collins', 118652)
['Name', 'Population']
('Fort Lauderdale', 152397)
['Name', 'Population']
('Fort Wayne', 205727)
['Name', 'Population']
('Fort Worth', 534694)
['Name', 'Population']
('Fremont', 203413)
['Name', 'Population']
('Fresno', 427652)
['Name', 'Population']
('Fullerton', 126003)
['Name', 'Population']
('Gainesville', 92291)
['Name', 'Population']
('Garden Grove', 165196)
['Name', 'Population']
('Garland', 215768)
['Name', 'Population']
('Gary', 102746)
['Name', 'Population']
('Gilbert', 109697)
['Name', 'Population']
('Glendale', 218812)
['Name', 'Population']
('Glendale', 194973)
['Name', 'Population']
('Grand Prairie', 127427)
['Name', 'Population']
('Grand Rapids', 197800)
['Name', 'Population']
('Green Bay', 102313)
['Name', 'Population']
('Greensboro', 223891)
['Name', 'Population']
('Hampton', 146437)
['Name', 'Population']
('Hartford', 121578)
['Name', 'Population']
('Hayward', 140030)
['Name', 'Population']
('Henderson', 175381)
['Name', 'Population']
('Hialeah', 226419)
['Name', 'Population']
('Hollywood', 139357)
['Name', 'Population']
('Honolulu', 371657)
['Name', 'Population']
('Houston', 1953631)
['Name', 'Population']
('Huntington Beach', 189594)
['Name', 'Population']
('Huntsville', 158216)
['Name', 'Population']
('Independence', 113288)
['Name', 'Population']
('Indianapolis', 791926)
['Name', 'Population']
('Inglewood', 112580)
['Name', 'Population']
('Irvine', 143072)
['Name', 'Population']
('Irving', 191615)
['Name', 'Population']
('Jackson', 184256)
['Name', 'Population']
('Jacksonville', 735167)
['Name', 'Population']
('Jersey City', 240055)
['Name', 'Population']
('Joliet', 106221)
['Name', 'Population']
('Kansas City', 441545)
['Name', 'Population']
('Kansas City', 146866)
['Name', 'Population']
('Kenosha', 89447)
['Name', 'Population']
('Knoxville', 173890)
['Name', 'Population']
('Lafayette', 110257)
['Name', 'Population']
('Lakewood', 144126)
['Name', 'Population']
('Lancaster', 118718)
['Name', 'Population']
('Lansing', 119128)
['Name', 'Population']
('Laredo', 176576)
['Name', 'Population']
('Las Vegas', 478434)
['Name', 'Population']
('Lexington-Fayette', 260512)
['Name', 'Population']
('Lincoln', 225581)
['Name', 'Population']
('Little Rock', 183133)
['Name', 'Population']
('Livonia', 100545)
['Name', 'Population']
('Long Beach', 461522)
['Name', 'Population']
('Los Angeles', 3694820)
['Name', 'Population']
('Louisville', 256231)
['Name', 'Population']
('Lowell', 105167)
['Name', 'Population']
('Lubbock', 199564)
['Name', 'Population']
('Macon', 113336)
['Name', 'Population']
('Madison', 208054)
['Name', 'Population']
('Manchester', 107006)
['Name', 'Population']
('McAllen', 106414)
['Name', 'Population']
('Memphis', 650100)
['Name', 'Population']
('Mesa', 396375)
['Name', 'Population']
('Mesquite', 124523)
['Name', 'Population']
('Metairie', 149428)
['Name', 'Population']
('Miami', 362470)
['Name', 'Population']
('Miami Beach', 97855)
['Name', 'Population']
('Midland', 98293)
['Name', 'Population']
('Milwaukee', 596974)
['Name', 'Population']
('Minneapolis', 382618)
['Name', 'Population']
('Mission Viejo', 98049)
['Name', 'Population']
('Mobile', 198915)
['Name', 'Population']
('Modesto', 188856)
['Name', 'Population']
('Montgomery', 201568)
['Name', 'Population']
('Moreno Valley', 142381)
['Name', 'Population']
('Naperville', 128358)
['Name', 'Population']
('Nashville-Davidson', 569891)
['Name', 'Population']
('New Bedford', 94780)
['Name', 'Population']
('New Haven', 123626)
['Name', 'Population']
('New Orleans', 484674)
['Name', 'Population']
('New York', 8008278)
['Name', 'Population']
('Newark', 273546)
['Name', 'Population']
('Newport News', 180150)
['Name', 'Population']
('Norfolk', 234403)
['Name', 'Population']
('Norman', 94193)
['Name', 'Population']
('North Las Vegas', 115488)
['Name', 'Population']
('Norwalk', 103298)
['Name', 'Population']
('Oakland', 399484)
['Name', 'Population']
('Oceanside', 161029)
['Name', 'Population']
('Odessa', 89293)
['Name', 'Population']
('Oklahoma City', 506132)
['Name', 'Population']
('Omaha', 390007)
['Name', 'Population']
('Ontario', 158007)
['Name', 'Population']
('Orange', 128821)
['Name', 'Population']
('Orlando', 185951)
['Name', 'Population']
('Overland Park', 149080)
['Name', 'Population']
('Oxnard', 170358)
['Name', 'Population']
('Palmdale', 116670)
['Name', 'Population']
('Paradise', 124682)
['Name', 'Population']
('Pasadena', 141674)
['Name', 'Population']
('Pasadena', 133936)
['Name', 'Population']
('Paterson', 149222)
['Name', 'Population']
('Pembroke Pines', 137427)
['Name', 'Population']
('Peoria', 112936)
['Name', 'Population']
('Peoria', 108364)
['Name', 'Population']
('Philadelphia', 1517550)
['Name', 'Population']
('Phoenix', 1321045)
['Name', 'Population']
('Pittsburgh', 334563)
['Name', 'Population']
('Plano', 222030)
['Name', 'Population']
('Pomona', 149473)
['Name', 'Population']
('Portland', 529121)
['Name', 'Population']
('Portsmouth', 100565)
['Name', 'Population']
('Providence', 173618)
['Name', 'Population']
('Provo', 105166)
['Name', 'Population']
('Pueblo', 102121)
['Name', 'Population']
('Raleigh', 276093)
['Name', 'Population']
('Rancho Cucamonga', 127743)
['Name', 'Population']
('Reno', 180480)
['Name', 'Population']
('Richmond', 197790)
['Name', 'Population']
('Richmond', 94100)
['Name', 'Population']
('Riverside', 255166)
['Name', 'Population']
('Roanoke', 93357)
['Name', 'Population']
('Rochester', 219773)
['Name', 'Population']
('Rockford', 150115)
['Name', 'Population']
('Sacramento', 407018)
['Name', 'Population']
('Saint Louis', 348189)
['Name', 'Population']
('Saint Paul', 287151)
['Name', 'Population']
('Saint Petersburg', 248232)
['Name', 'Population']
('Salem', 136924)
['Name', 'Population']
('Salinas', 151060)
['Name', 'Population']
('Salt Lake City', 181743)
['Name', 'Population']
('San Antonio', 1144646)
['Name', 'Population']
('San Bernardino', 185401)
['Name', 'Population']
('San Buenaventura', 100916)
['Name', 'Population']
('San Diego', 1223400)
['Name', 'Population']
('San Francisco', 776733)
['Name', 'Population']
('San Jose', 894943)
['Name', 'Population']
('San Mateo', 91799)
['Name', 'Population']
('Sandy', 101853)
['Name', 'Population']
('Santa Ana', 337977)
['Name', 'Population']
('Santa Clara', 102361)
['Name', 'Population']
('Santa Clarita', 151088)
['Name', 'Population']
('Santa Monica', 91084)
['Name', 'Population']
('Santa Rosa', 147595)
['Name', 'Population']
('Savannah', 131510)
['Name', 'Population']
('Scottsdale', 202705)
['Name', 'Population']
('Seattle', 563374)
['Name', 'Population']
('Shreveport', 200145)
['Name', 'Population']
('Simi Valley', 111351)
['Name', 'Population']
('Sioux Falls', 123975)
['Name', 'Population']
('South Bend', 107789)
['Name', 'Population']
('Spokane', 195629)
['Name', 'Population']
('Springfield', 152082)
['Name', 'Population']
('Springfield', 151580)
['Name', 'Population']
('Springfield', 111454)
['Name', 'Population']
('Stamford', 117083)
['Name', 'Population']
('Sterling Heights', 124471)
['Name', 'Population']
('Stockton', 243771)
['Name', 'Population']
('Sunnyvale', 131760)
['Name', 'Population']
('Sunrise Manor', 95362)
['Name', 'Population']
('Syracuse', 147306)
['Name', 'Population']
('Tacoma', 193556)
['Name', 'Population']
('Tallahassee', 150624)
['Name', 'Population']
('Tampa', 303447)
['Name', 'Population']
('Tempe', 158625)
['Name', 'Population']
('Thousand Oaks', 117005)
['Name', 'Population']
('Toledo', 313619)
['Name', 'Population']
('Topeka', 122377)
['Name', 'Population']
('Torrance', 137946)
['Name', 'Population']
('Tucson', 486699)
['Name', 'Population']
('Tulsa', 393049)
['Name', 'Population']
('Vallejo', 116760)
['Name', 'Population']
('Vancouver', 143560)
['Name', 'Population']
('Virginia Beach', 425257)
['Name', 'Population']
('Visalia', 91762)
['Name', 'Population']
('Waco', 113726)
['Name', 'Population']
('Warren', 138247)
['Name', 'Population']
('Washington', 572059)
['Name', 'Population']
('Waterbury', 107271)
['Name', 'Population']
('West Covina', 105080)
['Name', 'Population']
('West Valley City', 108896)
['Name', 'Population']
('Westminster', 100940)
['Name', 'Population']
('Wichita', 344284)
['Name', 'Population']
('Wichita Falls', 104197)
['Name', 'Population']
('Winston-Salem', 185776)
['Name', 'Population']
('Worcester', 172648)
['Name', 'Population']
('Yonkers', 196086)
['Name', 'Population']
('Abilene', 115930)
['Name', 'Population']
('Akron', 217074)
['Name', 'Population']
('Albany', 93994)
['Name', 'Population']
('Albuquerque', 448607)
['Name', 'Population']
('Alexandria', 128283)
['Name', 'Population']
('Allentown', 106632)
['Name', 'Population']
('Amarillo', 173627)
['Name', 'Population']
('Anaheim', 328014)
['Name', 'Population']
('Anchorage', 260283)
['Name', 'Population']
('Ann Arbor', 114024)
['Name', 'Population']
('Arden-Arcade', 92040)
['Name', 'Population']
('Arlington', 332969)
['Name', 'Population']
('Arlington', 174838)
['Name', 'Population']
('Arvada', 102153)
['Name', 'Population']
('Athens-Clarke County', 101489)
['Name', 'Population']
('Atlanta', 416474)
['Name', 'Population']
('Augusta-Richmond County', 199775)
['Name', 'Population']
('Aurora', 276393)
['Name', 'Population']
('Aurora', 142990)
['Name', 'Population']
('Austin', 656562)
['Name', 'Population']
('Bakersfield', 247057)
['Name', 'Population']
('Baltimore', 651154)
['Name', 'Population']
('Baton Rouge', 227818)
['Name', 'Population']
('Beaumont', 113866)
['Name', 'Population']
('Bellevue', 109569)
['Name', 'Population']
('Berkeley', 102743)
['Name', 'Population']
('Billings', 92988)
['Name', 'Population']
('Birmingham', 242820)
['Name', 'Population']
('Boise City', 185787)
['Name', 'Population']
('Boston', 589141)
['Name', 'Population']
('Boulder', 91238)
['Name', 'Population']
('Bridgeport', 139529)
['Name', 'Population']
('Brockton', 93653)
['Name', 'Population']
('Brownsville', 139722)
['Name', 'Population']
('Buffalo', 292648)
['Name', 'Population']
('Burbank', 100316)
['Name', 'Population']
('Cambridge', 101355)
['Name', 'Population']
('Cape Coral', 102286)
['Name', 'Population']
('Carrollton', 109576)
['Name', 'Population']
('Carson', 89089)
['Name', 'Population']
('Cary', 91213)
['Name', 'Population']
('Cedar Rapids', 120758)
['Name', 'Population']
('Chandler', 176581)
['Name', 'Population']
('Charleston', 89063)
['Name', 'Population']
('Charlotte', 540828)
['Name', 'Population']
('Chattanooga', 155554)
['Name', 'Population']
('Chesapeake', 199184)
['Name', 'Population']
('Chicago', 2896016)
['Name', 'Population']
('Chula Vista', 173556)
['Name', 'Population']
('Cincinnati', 331285)
['Name', 'Population']
('Citrus Heights', 103455)
['Name', 'Population']
('Clarksville', 108787)
['Name', 'Population']
('Clearwater', 99936)
['Name', 'Population']
('Cleveland', 478403)
['Name', 'Population']
('Colorado Springs', 360890)
['Name', 'Population']
('Columbia', 116278)
['Name', 'Population']
('Columbus', 711470)
['Name', 'Population']
('Columbus', 186291)
['Name', 'Population']
('Compton', 92864)
['Name', 'Population']
('Concord', 121780)
['Name', 'Population']
('Coral Springs', 117549)
['Name', 'Population']
('Corona', 124966)
['Name', 'Population']
('Corpus Christi', 277454)
['Name', 'Population']
('Costa Mesa', 108724)
['Name', 'Population']
('Dallas', 1188580)
['Name', 'Population']
('Daly City', 103621)
['Name', 'Population']
('Davenport', 98256)
['Name', 'Population']
('Dayton', 166179)
['Name', 'Population']
('Denver', 554636)
['Name', 'Population']
('Des Moines', 198682)
['Name', 'Population']
('Detroit', 951270)
['Name', 'Population']
('Downey', 107323)
['Name', 'Population']
('Durham', 187035)
['Name', 'Population']
('East Los Angeles', 126379)
['Name', 'Population']
('El Cajon', 94578)
['Name', 'Population']
('El Monte', 115965)
['Name', 'Population']
('El Paso', 563662)
['Name', 'Population']
('Elgin', 89408)
['Name', 'Population']
('Elizabeth', 120568)
['Name', 'Population']
('Erie', 103717)
['Name', 'Population']
('Escondido', 133559)
['Name', 'Population']
('Eugene', 137893)
['Name', 'Population']
('Evansville', 121582)
['Name', 'Population']
('Fairfield', 92256)
['Name', 'Population']
('Fall River', 90555)
['Name', 'Population']
('Fayetteville', 121015)
['Name', 'Population']
('Flint', 124943)
['Name', 'Population']
('Fontana', 128929)
['Name', 'Population']
('Fort Collins', 118652)
['Name', 'Population']
('Fort Lauderdale', 152397)
['Name', 'Population']
('Fort Wayne', 205727)
['Name', 'Population']
('Fort Worth', 534694)
['Name', 'Population']
('Fremont', 203413)
['Name', 'Population']
('Fresno', 427652)
['Name', 'Population']
('Fullerton', 126003)
['Name', 'Population']
('Gainesville', 92291)
['Name', 'Population']
('Garden Grove', 165196)
['Name', 'Population']
('Garland', 215768)
['Name', 'Population']
('Gary', 102746)
['Name', 'Population']
('Gilbert', 109697)
['Name', 'Population']
('Glendale', 218812)
['Name', 'Population']
('Glendale', 194973)
['Name', 'Population']
('Grand Prairie', 127427)
['Name', 'Population']
('Grand Rapids', 197800)
['Name', 'Population']
('Green Bay', 102313)
['Name', 'Population']
('Greensboro', 223891)
['Name', 'Population']
('Hampton', 146437)
['Name', 'Population']
('Hartford', 121578)
['Name', 'Population']
('Hayward', 140030)
['Name', 'Population']
('Henderson', 175381)
['Name', 'Population']
('Hialeah', 226419)
['Name', 'Population']
('Hollywood', 139357)
['Name', 'Population']
('Honolulu', 371657)
['Name', 'Population']
('Houston', 1953631)
['Name', 'Population']
('Huntington Beach', 189594)
['Name', 'Population']
('Huntsville', 158216)
['Name', 'Population']
('Independence', 113288)
['Name', 'Population']
('Indianapolis', 791926)
['Name', 'Population']
('Inglewood', 112580)
['Name', 'Population']
('Irvine', 143072)
['Name', 'Population']
('Irving', 191615)
['Name', 'Population']
('Jackson', 184256)
['Name', 'Population']
('Jacksonville', 735167)
['Name', 'Population']
('Jersey City', 240055)
['Name', 'Population']
('Joliet', 106221)
['Name', 'Population']
('Kansas City', 441545)
['Name', 'Population']
('Kansas City', 146866)
['Name', 'Population']
('Kenosha', 89447)
['Name', 'Population']
('Knoxville', 173890)
['Name', 'Population']
('Lafayette', 110257)
['Name', 'Population']
('Lakewood', 144126)
['Name', 'Population']
('Lancaster', 118718)
['Name', 'Population']
('Lansing', 119128)
['Name', 'Population']
('Laredo', 176576)
['Name', 'Population']
('Las Vegas', 478434)
['Name', 'Population']
('Lexington-Fayette', 260512)
['Name', 'Population']
('Lincoln', 225581)
['Name', 'Population']
('Little Rock', 183133)
['Name', 'Population']
('Livonia', 100545)
['Name', 'Population']
('Long Beach', 461522)
['Name', 'Population']
('Los Angeles', 3694820)
['Name', 'Population']
('Louisville', 256231)
['Name', 'Population']
('Lowell', 105167)
['Name', 'Population']
('Lubbock', 199564)
['Name', 'Population']
('Macon', 113336)
['Name', 'Population']
('Madison', 208054)
['Name', 'Population']
('Manchester', 107006)
['Name', 'Population']
('McAllen', 106414)
['Name', 'Population']
('Memphis', 650100)
['Name', 'Population']
('Mesa', 396375)
['Name', 'Population']
('Mesquite', 124523)
['Name', 'Population']
('Metairie', 149428)
['Name', 'Population']
('Miami', 362470)
['Name', 'Population']
('Miami Beach', 97855)
['Name', 'Population']
('Midland', 98293)
['Name', 'Population']
('Milwaukee', 596974)
['Name', 'Population']
('Minneapolis', 382618)
['Name', 'Population']
('Mission Viejo', 98049)
['Name', 'Population']
('Mobile', 198915)
['Name', 'Population']
('Modesto', 188856)
['Name', 'Population']
('Montgomery', 201568)
['Name', 'Population']
('Moreno Valley', 142381)
['Name', 'Population']
('Naperville', 128358)
['Name', 'Population']
('Nashville-Davidson', 569891)
['Name', 'Population']
('New Bedford', 94780)
['Name', 'Population']
('New Haven', 123626)
['Name', 'Population']
('New Orleans', 484674)
['Name', 'Population']
('New York', 8008278)
['Name', 'Population']
('Newark', 273546)
['Name', 'Population']
('Newport News', 180150)
['Name', 'Population']
('Norfolk', 234403)
['Name', 'Population']

In [67]:
from sqlalchemy import insert

In [68]:
stmt = insert(employees)
result_proxy = connection.execute(stmt, values_list)

print(result_proxy.rowcount)

NameError: name 'employees' is not defined

In [4]:
# OLD / BROKEN
values_list = []

df = pd.read_csv('data\city.csv')
print(df.shape)

for col in df:
    print(col)
    
    data = {'name': col[0], 'population': col[1]}
    #print(data)
    #values_list.append(data)

#print(values_list)

# SQL ALCHEMY NOO

# Access table with python
# metadata reads daabase and builds a SQL alchemy table object

metadata = MetaData()

sqlalchemy_table = Table('census', metadata, autoload=True,
           autoload_with = engine)

print(repr(sqlalchemy_table))

(276, 2)
name
population