In [ ]:


C:\Users\ckato\Documents\GitHub\metals-research\data

In [42]:
from sqlalchemy import create_engine
from sqlalchemy import(Table, Column, String, Integer, Boolean)
from sqlalchemy import MetaData, Table

import pandas as pd
# https://campus.datacamp.com/courses/introduction-to-relational-databases-in-python/creating-and-manipulating-your-own-databases?ex=1
    
# Missing decimal

In [36]:
# Connecting to Engine
engine = create_engine('sqlite:///metals_dashboard.sqlite')

connection = engine.connect()

In [41]:
# What's in the database already?
print(engine.table_names())

['census']

In [21]:
values_list = []

df = pd.read_csv('data\city.csv')
print(df.shape)

for col in df:
    print(col)
    
    data = {'name': col[0], 'population': col[1]}
    #print(data)
    #values_list.append(data)

#print(values_list)

(274, 2)
name
population

In [34]:

# read census.csv into a dataframe : census_df
census_df = pd.read_csv("data\city.csv")

# rename the columns of the census dataframe
census_df.columns = ['Name', 'Population']

print(census_df.head())

          Name  Population
0      Abilene      115930
1        Akron      217074
2       Albany       93994
3  Albuquerque      448607
4   Alexandria      128283

In [44]:
# Access table with python
# metadata reads daabase and builds a SQL alchemy table object

metadata = MetaData()

sqlalchemy_table = Table('census', metadata, autoload=True,
           autoload_with = engine)

print(repr(sqlalchemy_table))

Table('census', MetaData(bind=None), Column('Name', TEXT(), table=<census>), Column('Population', BIGINT(), table=<census>), schema=None)

In [37]:


# append the data from census_df to the "census" table via connection
census_df.to_sql(name="census", con=connection, if_exists="append", index=False)