### Documentation: 

#### Overall
The main goal of this project is to convert multiple excel data files to appended rows in a SQL database. This will operate via the following procedure: 

1. Python/SQLite connection to SQL database. 
2. Clean each csv/excel file via python
3. Upload and replace associated table in SQLfile 

#### GSM Member Instructions after download and save: 
1. From August Dashboard xlsx file take out all spaces manually (rename)


#### Location path
C:\Users\ckato\Documents\GitHub\metals-research\data

#### To upload into Power BI, install driver first here: 
http://www.ch-werner.de/sqliteodbc/

In [2]:
from sqlalchemy import create_engine
from sqlalchemy import(Table, Column, String, Integer, Boolean)
from sqlalchemy import MetaData, Table

import pandas as pd
# https://campus.datacamp.com/courses/introduction-to-relational-databases-in-python/creating-and-manipulating-your-own-databases?ex=1
    
# Missing decimal

In [3]:
# Connecting to Engine
engine = create_engine('sqlite:///metals_dashboard.sqlite')

connection = engine.connect()

In [4]:
# What's in the database already?
print(engine.table_names())

['battery_cap']

### Iteratively Updating

Steps to creating database

1. load csv file and create pandas dataframe
2. connect to sql server
3. concatenate subset of csv file to the end of the existing sql table associated with that csv file

In [5]:
# Conversion of FINAL-SQL file to pandas for dates range

# !?? NOTE WILL CONVERT dataframe of query (date file only) to pandas 
# pandas extraction of NEW ROW INDICES ONLY to be appended to all sql 
# table files

# create new sql statement to insert/append where clause from indices 

df = pd.read_sql_query('SELECT * from battery_cap;', connection)
df.head()

#stmt = select([census])
#conn = sqlite3.connect("flights.db")

,index,Megafactory,Region,GWh 2018,GWh 2023,GWh 2028,Date
0,1,"AESC, Zama, Japan",Asia (excl China),2.6,2.6,2.6,2000-01-01 00:00:00.000000
1,2,"LEJ, Shiga, Japan",Asia (excl China),2,2,4,2000-01-01 00:00:00.000000
2,3,"LG Chem, Ochang, Korea",Asia (excl China),12,16,20,2000-01-01 00:00:00.000000
3,4,"Panasonic, Himeji, Japan",Asia (excl China),3,8,20,2000-01-01 00:00:00.000000
4,5,"Panasonic, Kasai, Japan",Asia (excl China),3,5,10,2000-01-01 00:00:00.000000

## Read Raw Data from raw_data_finals folder

Reading and preprocessing/cleaning data

In [203]:
filename = 'raw_data_finals\MetalsDashboard(Aug)LATEST.xlsx'
commodities = pd.read_excel(filename, sheet_name="Commodities Data")


# read census.csv into a dataframe to create pandas dataframe
#commodities = pd.read_csv("raw_data_finals\Commodities.csv")
commodities = commodities.iloc[:, 0:len(commodities.columns)]

commodities.columns = commodities.iloc[0]

#############
df = commodities.iloc[6: ,:]
df = df.iloc[:, 1:]
df = df.rename(columns={"Column1": "Date"})

df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index('Date')
df = df.drop("Fastmarkets - Cobalt High", axis=1)
df = df.drop("Fastmarkets- Cobalt LOW", axis=1)
df = df.drop("Column2", axis=1)

df = df.astype(float)

df.head(10)

,LME Ni cash price,LME Ni inventory (total),LME Ni inventory (briquette),LME Ni inventory (other forms),Critical Inventory,LME Co cash price,LME Cu cash price,Comex Cu future,Comex Cu future2,LME Al cash price
Date,,,,,,,,,,
2015-01-02,14756.0,414900.0,165720.0,249180.0,100000.0,31619.0,6321.00,272.65,6005.506608,1805.25
2015-01-05,15126.0,414756.0,165972.0,248784.0,100000.0,31365.0,6213.50,267.45,5890.969163,1787.25
2015-01-06,15191.0,415338.0,166506.0,248832.0,100000.0,31366.0,6221.00,267.30,5887.665198,1755.25
2015-01-07,15483.0,415812.0,167094.0,248718.0,100000.0,31367.0,6182.50,266.10,5861.233480,1761.75
2015-01-08,15486.0,415842.0,167124.0,248718.0,100000.0,31371.0,6175.75,267.30,5887.665198,1811.50
2015-01-09,15235.5,415164.0,166818.0,248346.0,100000.0,31371.0,6166.50,265.45,5846.916300,1789.75
2015-01-12,15029.0,414732.0,166554.0,248178.0,100000.0,31367.5,6101.00,262.55,5783.039648,1791.00
2015-01-13,14585.0,416436.0,167244.0,249192.0,100000.0,30769.0,5939.50,254.00,5594.713656,1779.25
2015-01-14,14241.0,418320.0,167142.0,251178.0,100000.0,30769.5,5619.00,241.20,5312.775330,1765.50
2015-01-15,14413.5,418332.0,167100.0,251232.0,100000.0,30774.5,5681.00,247.85,5459.251101,1781.60

### Drop Table

In [175]:
result_proxy = connection.execute('DROP table tester1;')

# fetches a result set as python object
#results = result_proxy.fetchall()

# What's in the database already?
print(engine.table_names())

[]

### Create Table

In [185]:
df.to_sql('commodities', con=engine, if_exists='replace', index = True)

results = engine.execute("SELECT * FROM commodities").fetchall()

#result_proxy = connection.execute(stmt)
for item in results:
    #print(item.keys())
    print(item.values())

['2015-01-02 00:00:00.000000', 14756.0, 414900.0, 165720.0, 249180.0, 100000.0, 31619.0, 6321.0, 272.65]
['2015-01-05 00:00:00.000000', 15126.0, 414756.0, 165972.0, 248784.0, 100000.0, 31365.0, 6213.5, 267.45]
['2015-01-06 00:00:00.000000', 15191.0, 415338.0, 166506.0, 248832.0, 100000.0, 31366.0, 6221.0, 267.3]
['2015-01-07 00:00:00.000000', 15483.0, 415812.0, 167094.0, 248718.0, 100000.0, 31367.0, 6182.5, 266.1]
['2015-01-08 00:00:00.000000', 15486.0, 415842.0, 167124.0, 248718.0, 100000.0, 31371.0, 6175.75, 267.3]
['2015-01-09 00:00:00.000000', 15235.5, 415164.0, 166818.0, 248346.0, 100000.0, 31371.0, 6166.5, 265.45]
['2015-01-12 00:00:00.000000', 15029.0, 414732.0, 166554.0, 248178.0, 100000.0, 31367.5, 6101.0, 262.55]
['2015-01-13 00:00:00.000000', 14585.0, 416436.0, 167244.0, 249192.0, 100000.0, 30769.0, 5939.5, 254.0]
['2015-01-14 00:00:00.000000', 14241.0, 418320.0, 167142.0, 251178.0, 100000.0, 30769.5, 5619.0, 241.2]
['2015-01-15 00:00:00.000000', 14413.5, 418332.0, 167100.0, 251232.0, 100000.0, 30774.5, 5681.0, 247.85]
['2015-01-16 00:00:00.000000', 14722.0, 418518.0, 166470.0, 252048.0, 100000.0, 30773.5, 5768.0, 253.35]
['2015-01-19 00:00:00.000000', 14417.0, 417900.0, 165990.0, 251910.0, 100000.0, 31015.0, 5709.0, 253.35]
['2015-01-20 00:00:00.000000', 14721.0, 418062.0, 165654.0, 252408.0, 100000.0, 30615.0, 5722.0, 251.05]
['2015-01-21 00:00:00.000000', 14971.5, 419964.0, 166794.0, 253170.0, 100000.0, 30816.0, 5801.0, 252.65]
['2015-01-22 00:00:00.000000', 14792.0, 421842.0, 167820.0, 254022.0, 100000.0, 30620.0, 5696.5, 249.85]
['2015-01-23 00:00:00.000000', 14293.0, 423036.0, 168120.0, 254916.0, 100000.0, 30370.0, 5549.0, 242.55]
['2015-01-26 00:00:00.000000', 14692.0, 424344.0, 168900.0, 255444.0, 100000.0, 30368.0, 5628.5, 246.8]
['2015-01-27 00:00:00.000000', 14730.5, 424110.0, 168288.0, 255822.0, 100000.0, 30365.0, 5453.0, 238.95]
['2015-01-28 00:00:00.000000', 14993.0, 423726.0, 167580.0, 256146.0, 100000.0, 29616.0, 5519.5, 240.6]
['2015-01-29 00:00:00.000000', 14846.0, 425562.0, 167778.0, 257784.0, 100000.0, 29620.0, 5433.0, 237.3]
['2015-01-30 00:00:00.000000', 15109.0, 426240.0, 167310.0, 258930.0, 100000.0, 29421.0, 5541.0, 240.55]
['2015-02-02 00:00:00.000000', 15274.0, 424974.0, 166194.0, 258780.0, 100000.0, 29438.5, 5525.0, 240.75]
['2015-02-03 00:00:00.000000', 15255.5, 424572.0, 165462.0, 259110.0, 100000.0, 29640.0, 5719.0, 249.5]
['2015-02-04 00:00:00.000000', 15070.0, 424788.0, 165462.0, 259326.0, 100000.0, 29642.0, 5732.75, 250.1]
['2015-02-05 00:00:00.000000', 15122.75, 423480.0, 164070.0, 259410.0, 100000.0, 29646.0, 5743.5, 250.9]
['2015-02-06 00:00:00.000000', 15179.0, 424206.0, 163698.0, 260508.0, 100000.0, 29198.0, 5670.0, 250.1]
['2015-02-09 00:00:00.000000', 15098.75, 426324.0, 164586.0, 261738.0, 100000.0, 29200.0, 5687.5, 250.0]
['2015-02-10 00:00:00.000000', 14764.75, 426090.0, 164460.0, 261630.0, 100000.0, 29055.0, 5604.75, 247.5]
['2015-02-11 00:00:00.000000', 14690.5, 426018.0, 164202.0, 261816.0, 100000.0, 29056.0, 5610.25, 245.35]
['2015-02-12 00:00:00.000000', 14648.0, 425310.0, 163458.0, 261852.0, 100000.0, 29209.0, 5752.25, 251.1]
['2015-02-13 00:00:00.000000', 14589.0, 426228.0, 164658.0, 261570.0, 100000.0, 29059.0, 5754.0, 252.05]
['2015-02-16 00:00:00.000000', 14542.0, 425838.0, 164526.0, 261312.0, 100000.0, 29210.0, 5764.0, 252.05]
['2015-02-17 00:00:00.000000', 14178.5, 426114.0, 165180.0, 260934.0, 100000.0, 29162.0, 5659.75, 249.65]
['2015-02-18 00:00:00.000000', 14194.5, 425790.0, 165000.0, 260790.0, 100000.0, 29164.0, 5759.5, 252.35]
['2015-02-19 00:00:00.000000', 13927.5, 425604.0, 165000.0, 260604.0, 100000.0, 29165.0, 5766.25, 252.9]
['2015-02-20 00:00:00.000000', 13898.5, 425934.0, 165048.0, 260886.0, 100000.0, 29167.0, 5708.0, 250.65]
['2015-02-23 00:00:00.000000', 14068.0, 424932.0, 165048.0, 259884.0, 100000.0, 29016.0, 5684.5, 250.0]
['2015-02-24 00:00:00.000000', 14291.0, 424548.0, 164688.0, 259860.0, 100000.0, 28861.0, 5800.0, 255.05]
['2015-02-25 00:00:00.000000', 14325.0, 425334.0, 164640.0, 260694.0, 100000.0, 28762.0, 5803.0, 254.9]
['2015-02-26 00:00:00.000000', 14322.5, 427596.0, 165594.0, 262002.0, 100000.0, 28767.0, 5917.5, 259.65]
['2015-02-27 00:00:00.000000', 14037.0, 428676.0, 165834.0, 262842.0, 100000.0, 28690.0, 5924.0, 259.65]
['2015-03-02 00:00:00.000000', 13793.5, 430944.0, 166446.0, 264498.0, 100000.0, 28684.0, 5925.5, 260.85]
['2015-03-03 00:00:00.000000', 13614.5, 430932.0, 166302.0, 264630.0, 100000.0, 27676.0, 5841.75, 256.95]
['2015-03-04 00:00:00.000000', 13878.5, 431274.0, 166692.0, 264582.0, 100000.0, 27401.0, 5861.5, 256.9]
['2015-03-05 00:00:00.000000', 14139.5, 431442.0, 166992.0, 264450.0, 100000.0, 27602.0, 5857.0, 256.1]
['2015-03-06 00:00:00.000000', 14311.0, 431952.0, 167754.0, 264198.0, 100000.0, 27603.0, 5765.5, 252.15]
['2015-03-09 00:00:00.000000', 14447.0, 431856.0, 167706.0, 264150.0, 100000.0, 27600.0, 5894.0, 258.0]
['2015-03-10 00:00:00.000000', 13992.0, 432900.0, 167976.0, 264924.0, 100000.0, 27800.0, 5788.5, 253.5]
['2015-03-11 00:00:00.000000', 13717.0, 432480.0, 167484.0, 264996.0, 100000.0, 27800.0, 5754.5, 251.55]
['2015-03-12 00:00:00.000000', 13848.0, 430854.0, 166074.0, 264780.0, 100000.0, 27823.0, 5867.0, 256.6]
['2015-03-13 00:00:00.000000', 14079.5, 430146.0, 165498.0, 264648.0, 100000.0, 27600.0, 5882.0, 257.0]
['2015-03-16 00:00:00.000000', 13871.0, 428910.0, 165012.0, 263898.0, 100000.0, 27635.0, 5864.25, 257.65]
['2015-03-17 00:00:00.000000', 13677.5, 432120.0, 164634.0, 267486.0, 100000.0, 27645.0, 5805.0, 254.2]
['2015-03-18 00:00:00.000000', 13466.0, 431034.0, 163494.0, 267540.0, 100000.0, 27644.75, 5695.5, 248.0]
['2015-03-19 00:00:00.000000', 13734.5, 431820.0, 162894.0, 268926.0, 100000.0, 27646.5, 5879.25, 256.7]
['2015-03-20 00:00:00.000000', 14210.0, 430482.0, 161802.0, 268680.0, 100000.0, 27547.5, 6073.5, 265.7]
['2015-03-23 00:00:00.000000', 14261.5, 430008.0, 161778.0, 268230.0, 100000.0, 27543.5, 6149.5, 268.7]
['2015-03-24 00:00:00.000000', 13907.5, 431490.0, 162042.0, 269448.0, 100000.0, 27393.0, 6174.0, 270.15]
['2015-03-25 00:00:00.000000', 13629.0, 433980.0, 161988.0, 271992.0, 100000.0, 27393.0, 6149.5, 269.3]
['2015-03-26 00:00:00.000000', 13647.0, 432792.0, 161046.0, 271746.0, 100000.0, 27395.0, 6195.5, 270.95]
['2015-03-27 00:00:00.000000', 13233.0, 433380.0, 160344.0, 273036.0, 100000.0, 27196.0, 6078.5, 266.7]
['2015-03-30 00:00:00.000000', 12824.5, 435048.0, 160800.0, 274248.0, 100000.0, 27142.0, 6106.5, 268.25]
['2015-03-31 00:00:00.000000', 12339.0, 433806.0, 160356.0, 273450.0, 100000.0, 26743.0, 6064.5, 264.35]
['2015-04-01 00:00:00.000000', 12659.0, 432996.0, 159522.0, 273474.0, 100000.0, 26448.0, 6068.0, 265.2]
['2015-04-02 00:00:00.000000', 12977.0, 431790.0, 159270.0, 272520.0, 100000.0, 26965.0, 6003.25, 263.75]
['2015-04-03 00:00:00.000000', 12977.0, 431790.0, 159270.0, 272520.0, 100000.0, 26965.0, 6003.25, 263.75]
['2015-04-06 00:00:00.000000', 12977.0, 431790.0, 159270.0, 272520.0, 100000.0, 26965.0, 6003.25, 262.15]
['2015-04-07 00:00:00.000000', 12496.0, 431970.0, 160410.0, 271560.0, 100000.0, 27165.0, 6084.5, 266.7]
['2015-04-08 00:00:00.000000', 12524.5, 431376.0, 160260.0, 271116.0, 100000.0, 27665.0, 6027.75, 264.1]
['2015-04-09 00:00:00.000000', 12483.0, 431172.0, 160482.0, 270690.0, 100000.0, 28670.0, 6015.0, 263.85]
['2015-04-10 00:00:00.000000', 12581.5, 431292.0, 160482.0, 270810.0, 100000.0, 28860.0, 6056.0, 264.3]
['2015-04-13 00:00:00.000000', 12356.5, 431214.0, 160482.0, 270732.0, 100000.0, 28897.0, 6001.25, 262.55]
['2015-04-14 00:00:00.000000', 12546.0, 431346.0, 160782.0, 270564.0, 100000.0, 28605.5, 5955.0, 260.35]
['2015-04-15 00:00:00.000000', 12635.0, 432000.0, 161454.0, 270546.0, 100000.0, 28195.0, 5960.75, 262.1]
['2015-04-16 00:00:00.000000', 12798.0, 433146.0, 163110.0, 270036.0, 100000.0, 28227.0, 6067.5, 268.4]
['2015-04-17 00:00:00.000000', 12508.5, 433752.0, 163140.0, 270612.0, 100000.0, 28777.0, 6069.0, 268.75]
['2015-04-20 00:00:00.000000', 12751.0, 433734.0, 163440.0, 270294.0, 100000.0, 29575.0, 5985.75, 265.25]
['2015-04-21 00:00:00.000000', 12628.0, 433962.0, 163446.0, 270516.0, 100000.0, 29475.0, 5943.0, 264.5]
['2015-04-22 00:00:00.000000', 12626.5, 434376.0, 163446.0, 270930.0, 100000.0, 29625.0, 5902.0, 262.1]
['2015-04-23 00:00:00.000000', 12658.0, 434712.0, 163746.0, 270966.0, 100000.0, 29850.0, 5943.0, 263.85]
['2015-04-24 00:00:00.000000', 13158.0, 435558.0, 163842.0, 271716.0, 100000.0, 29800.0, 6031.0, 268.45]
['2015-04-27 00:00:00.000000', 13516.0, 436542.0, 164142.0, 272400.0, 100000.0, 29748.0, 6070.0, 270.5]
['2015-04-28 00:00:00.000000', 13410.0, 442950.0, 165906.0, 277044.0, 100000.0, 29898.0, 6132.0, 271.2]
['2015-04-29 00:00:00.000000', 13391.0, 443670.0, 166326.0, 277344.0, 100000.0, 30198.0, 6162.5, 272.0]
['2015-04-30 00:00:00.000000', 13915.0, 444756.0, 166506.0, 278250.0, 100000.0, 29902.0, 6364.5, 280.25]
['2015-05-01 00:00:00.000000', 13708.5, 444312.0, 166122.0, 278190.0, 100000.0, 30100.0, 6411.5, 284.0]
['2015-05-04 00:00:00.000000', 13708.5, 444312.0, 166122.0, 278190.0, 100000.0, 30100.0, 6411.5, 283.55]
['2015-05-05 00:00:00.000000', 14258.0, 444060.0, 166272.0, 277788.0, 100000.0, 29845.0, 6481.75, 285.2]
['2015-05-06 00:00:00.000000', 13930.5, 443916.0, 166344.0, 277572.0, 100000.0, 29850.0, 6389.25, 284.4]
['2015-05-07 00:00:00.000000', 14099.0, 442434.0, 165570.0, 276864.0, 100000.0, 29903.0, 6403.0, 283.3]
['2015-05-08 00:00:00.000000', 14260.0, 441174.0, 165180.0, 275994.0, 100000.0, 29754.0, 6391.5, 283.1]
['2015-05-11 00:00:00.000000', 14241.0, 442812.0, 166878.0, 275934.0, 100000.0, 29951.0, 6368.5, 282.0]
['2015-05-12 00:00:00.000000', 14318.0, 440034.0, 166962.0, 273072.0, 100000.0, 30050.0, 6446.5, 284.45]
['2015-05-13 00:00:00.000000', 14014.0, 441042.0, 167976.0, 273066.0, 100000.0, 30000.0, 6410.0, 284.2]
['2015-05-14 00:00:00.000000', 13739.0, 443352.0, 170544.0, 272808.0, 100000.0, 30003.0, 6406.25, 283.8]
['2015-05-15 00:00:00.000000', 13941.5, 444324.0, 171300.0, 273024.0, 100000.0, 30000.0, 6414.75, 283.9]
['2015-05-18 00:00:00.000000', 13711.5, 443622.0, 171456.0, 272166.0, 100000.0, 29986.0, 6369.0, 282.7]
['2015-05-19 00:00:00.000000', 13048.0, 444936.0, 172398.0, 272538.0, 100000.0, 29936.0, 6210.0, 276.4]
['2015-05-20 00:00:00.000000', 13069.0, 446640.0, 173712.0, 272928.0, 100000.0, 29835.5, 6214.0, 275.3]
['2015-05-21 00:00:00.000000', 12957.0, 446868.0, 173766.0, 273102.0, 100000.0, 30000.0, 6249.0, 277.3]
['2015-05-22 00:00:00.000000', 12664.0, 455790.0, 173766.0, 282024.0, 100000.0, 30401.0, 6156.0, 274.05]
['2015-05-25 00:00:00.000000', 12664.0, 455790.0, 173766.0, 282024.0, 100000.0, 30401.0, 6156.0, 274.05]
['2015-05-26 00:00:00.000000', 12625.5, 463800.0, 173940.0, 289860.0, 100000.0, 30394.5, 6103.5, 271.5]
['2015-05-27 00:00:00.000000', 12776.0, 465624.0, 175056.0, 290568.0, 100000.0, 30394.0, 6079.5, 270.75]
['2015-05-28 00:00:00.000000', 12767.0, 464610.0, 175656.0, 288954.0, 100000.0, 30522.0, 6091.5, 270.35]
['2015-05-29 00:00:00.000000', 12588.0, 464364.0, 176100.0, 288264.0, 100000.0, 30340.0, 6005.25, 266.9]
['2015-06-01 00:00:00.000000', 12957.0, 465564.0, 177300.0, 288264.0, 100000.0, 30186.0, 6014.5, 265.65]
['2015-06-02 00:00:00.000000', 13021.0, 465516.0, 177300.0, 288216.0, 100000.0, 30485.5, 6029.0, 267.3]
['2015-06-03 00:00:00.000000', 12967.5, 470118.0, 183162.0, 286956.0, 100000.0, 30587.0, 6000.5, 266.4]
['2015-06-04 00:00:00.000000', 12922.0, 470376.0, 183756.0, 286620.0, 100000.0, 30488.0, 5906.25, 263.1]
['2015-06-05 00:00:00.000000', 13145.0, 469488.0, 182976.0, 286512.0, 100000.0, 30439.0, 5927.0, 263.75]
['2015-06-08 00:00:00.000000', 13405.0, 469080.0, 183048.0, 286032.0, 100000.0, 30185.0, 5938.75, 263.75]
['2015-06-09 00:00:00.000000', 13460.0, 467904.0, 179052.0, 288852.0, 100000.0, 30350.0, 5956.25, 265.05]
['2015-06-10 00:00:00.000000', 13563.5, 467010.0, 179682.0, 287328.0, 100000.0, 30200.0, 6023.75, 268.65]
['2015-06-11 00:00:00.000000', 13267.5, 465690.0, 179682.0, 286008.0, 100000.0, 30300.0, 5864.0, 261.65]
['2015-06-12 00:00:00.000000', 13093.0, 465264.0, 180150.0, 285114.0, 100000.0, 30370.0, 5892.5, 262.45]
['2015-06-15 00:00:00.000000', 12915.0, 464556.0, 179916.0, 284640.0, 100000.0, 30820.0, 5784.0, 259.7]
['2015-06-16 00:00:00.000000', 12685.0, 461568.0, 177558.0, 284010.0, 100000.0, 30720.0, 5725.0, 256.75]
['2015-06-17 00:00:00.000000', 12714.5, 459762.0, 177078.0, 282684.0, 100000.0, 30620.0, 5726.0, 255.1]
['2015-06-18 00:00:00.000000', 12681.0, 459198.0, 176400.0, 282798.0, 100000.0, 30265.0, 5736.25, 255.5]
['2015-06-19 00:00:00.000000', 12671.5, 458550.0, 176370.0, 282180.0, 100000.0, 30380.0, 5642.0, 251.9]
['2015-06-22 00:00:00.000000', 12367.0, 461436.0, 177636.0, 283800.0, 100000.0, 30553.0, 5636.75, 251.85]
['2015-06-23 00:00:00.000000', 12817.5, 458688.0, 174558.0, 284130.0, 100000.0, 30643.0, 5763.0, 256.1]
['2015-06-24 00:00:00.000000', 12725.5, 459438.0, 174444.0, 284994.0, 100000.0, 30743.0, 5722.75, 256.65]
['2015-06-25 00:00:00.000000', 12654.5, 458370.0, 174444.0, 283926.0, 100000.0, 30742.0, 5754.25, 256.25]
['2015-06-26 00:00:00.000000', 12402.0, 458148.0, 174444.0, 283704.0, 100000.0, 30842.0, 5745.0, 257.95]
['2015-06-29 00:00:00.000000', 11787.5, 459018.0, 175290.0, 283728.0, 100000.0, 30890.0, 5784.0, 257.7]
['2015-06-30 00:00:00.000000', 11932.5, 456438.0, 172920.0, 283518.0, 100000.0, 33500.0, 5754.75, 256.0]
['2015-07-01 00:00:00.000000', 11982.0, 457110.0, 173118.0, 283992.0, 100000.0, 33222.0, 5765.75, 257.4]
['2015-07-02 00:00:00.000000', 12157.0, 457308.0, 173256.0, 284052.0, 100000.0, 32594.0, 5778.0, 257.25]
['2015-07-03 00:00:00.000000', 11957.0, 457086.0, 173034.0, 284052.0, 100000.0, 32560.0, 5744.0, 257.25]
['2015-07-06 00:00:00.000000', 11655.0, 456450.0, 172548.0, 283902.0, 100000.0, 32880.0, 5576.0, 248.9]
['2015-07-07 00:00:00.000000', 10604.0, 455514.0, 172260.0, 283254.0, 100000.0, 32354.0, 5329.0, 239.85]
['2015-07-08 00:00:00.000000', 10913.0, 456744.0, 173394.0, 283350.0, 100000.0, 32228.0, 5511.0, 245.05]
['2015-07-09 00:00:00.000000', 11456.0, 457248.0, 173850.0, 283398.0, 100000.0, 32160.0, 5616.5, 250.2]
['2015-07-10 00:00:00.000000', 11218.25, 456390.0, 173784.0, 282606.0, 100000.0, 32155.0, 5578.0, 248.8]
['2015-07-13 00:00:00.000000', 11713.0, 454896.0, 173028.0, 281868.0, 100000.0, 31650.0, 5573.5, 248.95]
['2015-07-14 00:00:00.000000', 11582.5, 453006.0, 171570.0, 281436.0, 100000.0, 31600.0, 5544.0, 248.75]
['2015-07-15 00:00:00.000000', 11436.0, 453480.0, 171840.0, 281640.0, 100000.0, 31380.0, 5508.5, 247.5]
['2015-07-16 00:00:00.000000', 11590.0, 452850.0, 172740.0, 280110.0, 100000.0, 31375.0, 5538.75, 247.9]
['2015-07-17 00:00:00.000000', 11460.5, 453486.0, 173622.0, 279864.0, 100000.0, 31070.0, 5459.75, 245.05]
['2015-07-20 00:00:00.000000', 11656.0, 453306.0, 173622.0, 279684.0, 100000.0, 31315.0, 5458.75, 244.0]
['2015-07-21 00:00:00.000000', 11630.0, 453582.0, 173922.0, 279660.0, 100000.0, 31061.0, 5432.25, 243.3]
['2015-07-22 00:00:00.000000', 11422.0, 453804.0, 174354.0, 279450.0, 100000.0, 31057.0, 5341.0, 239.65]
['2015-07-23 00:00:00.000000', 11384.0, 453738.0, 174354.0, 279384.0, 100000.0, 31053.0, 5253.5, 236.1]
['2015-07-24 00:00:00.000000', 11251.5, 453330.0, 174318.0, 279012.0, 100000.0, 31049.0, 5246.5, 236.1]
['2015-07-27 00:00:00.000000', 10982.0, 453414.0, 174618.0, 278796.0, 100000.0, 30545.0, 5173.0, 233.1]
['2015-07-28 00:00:00.000000', 11278.0, 452580.0, 173100.0, 279480.0, 100000.0, 30791.0, 5286.5, 237.5]
['2015-07-29 00:00:00.000000', 11202.0, 457890.0, 175530.0, 282360.0, 100000.0, 30750.0, 5316.5, 238.5]
['2015-07-30 00:00:00.000000', 10978.0, 460998.0, 176034.0, 284964.0, 100000.0, 30746.0, 5253.0, 238.0]
['2015-07-31 00:00:00.000000', 10993.5, 460098.0, 176334.0, 283764.0, 100000.0, 30742.0, 5221.5, 238.1]
['2015-08-03 00:00:00.000000', 10696.0, 458838.0, 176106.0, 282732.0, 100000.0, 30738.0, 5212.0, 236.8]
['2015-08-04 00:00:00.000000', 10780.0, 457926.0, 175266.0, 282660.0, 100000.0, 30734.0, 5229.75, 238.05]
['2015-08-05 00:00:00.000000', 10812.0, 457926.0, 175266.0, 282660.0, 100000.0, 30755.0, 5169.0, 237.55]
['2015-08-06 00:00:00.000000', 10808.0, 458490.0, 175266.0, 283224.0, 100000.0, 30476.0, 5177.0, 236.5]
['2015-08-07 00:00:00.000000', 10757.5, 456678.0, 174618.0, 282060.0, 100000.0, 28722.0, 5164.0, 236.0]
['2015-08-10 00:00:00.000000', 11107.5, 456708.0, 174618.0, 282090.0, 100000.0, 30018.0, 5296.25, 242.2]
['2015-08-11 00:00:00.000000', 10711.5, 456708.0, 174618.0, 282090.0, 100000.0, 30014.0, 5109.5, 237.15]
['2015-08-12 00:00:00.000000', 10559.5, 454410.0, 173142.0, 281268.0, 100000.0, 30460.5, 5175.25, 238.55]
['2015-08-13 00:00:00.000000', 10426.0, 454350.0, 173142.0, 281208.0, 100000.0, 30107.0, 5177.0, 239.2]
['2015-08-14 00:00:00.000000', 10568.0, 454326.0, 174042.0, 280284.0, 100000.0, 30103.5, 5157.25, 238.95]
['2015-08-17 00:00:00.000000', 10593.0, 454818.0, 174204.0, 280614.0, 100000.0, 28050.0, 5107.25, 235.8]
['2015-08-18 00:00:00.000000', 10322.0, 454974.0, 173724.0, 281250.0, 100000.0, 28200.0, 5034.0, 232.1]
['2015-08-19 00:00:00.000000', 10381.0, 456168.0, 174510.0, 281658.0, 100000.0, 28445.0, 4995.5, 232.35]
['2015-08-20 00:00:00.000000', 10370.0, 455892.0, 174510.0, 281382.0, 100000.0, 28442.0, 5125.0, 236.7]
['2015-08-21 00:00:00.000000', 10168.0, 454992.0, 173928.0, 281064.0, 100000.0, 28435.0, 5063.75, 234.7]
['2015-08-24 00:00:00.000000', 9478.0, 455052.0, 173298.0, 281754.0, 100000.0, 28434.0, 4969.5, 229.15]
['2015-08-25 00:00:00.000000', 9580.0, 453852.0, 171084.0, 282768.0, 100000.0, 28434.0, 5098.0, 233.85]
['2015-08-26 00:00:00.000000', 9538.0, 454380.0, 171054.0, 283326.0, 100000.0, 28484.0, 4963.0, 227.6]
['2015-08-27 00:00:00.000000', 10031.0, 454692.0, 171036.0, 283656.0, 100000.0, 27688.0, 5176.0, 236.3]
['2015-08-28 00:00:00.000000', 10033.0, 455166.0, 170910.0, 284256.0, 100000.0, 28139.0, 5147.0, 238.4]
['2015-08-31 00:00:00.000000', 10033.0, 455166.0, 170910.0, 284256.0, 100000.0, 28139.0, 5147.0, 237.7]
['2015-09-01 00:00:00.000000', 9729.0, 453894.0, 170052.0, 283842.0, 100000.0, 27688.0, 5082.75, 234.35]
['2015-09-02 00:00:00.000000', 9838.5, 454044.0, 170982.0, 283062.0, 100000.0, 27688.5, 5136.5, 236.75]
['2015-09-03 00:00:00.000000', 9976.0, 453678.0, 171606.0, 282072.0, 100000.0, 27191.0, 5264.0, 241.9]
['2015-09-04 00:00:00.000000', 9923.5, 453630.0, 172338.0, 281292.0, 100000.0, 27691.0, 5131.75, 235.1]
['2015-09-07 00:00:00.000000', 9727.0, 451962.0, 172338.0, 279624.0, 100000.0, 27190.25, 5163.25, 235.1]
['2015-09-08 00:00:00.000000', 9975.0, 451356.0, 172338.0, 279018.0, 100000.0, 28191.0, 5365.0, 246.05]
['2015-09-09 00:00:00.000000', 10073.0, 451044.0, 172338.0, 278706.0, 100000.0, 27691.0, 5381.75, 245.55]
['2015-09-10 00:00:00.000000', 10419.5, 449682.0, 172296.0, 277386.0, 100000.0, 28192.0, 5416.5, 246.45]
['2015-09-11 00:00:00.000000', 10270.5, 447972.0, 171060.0, 276912.0, 100000.0, 28192.5, 5390.25, 246.45]
['2015-09-14 00:00:00.000000', 9888.0, 448320.0, 171060.0, 277260.0, 100000.0, 27692.0, 5330.5, 241.9]
['2015-09-15 00:00:00.000000', 10062.5, 447786.0, 169416.0, 278370.0, 100000.0, 27692.0, 5360.75, 243.85]
['2015-09-16 00:00:00.000000', 10093.0, 449172.0, 169758.0, 279414.0, 100000.0, 27692.5, 5387.0, 246.15]
['2015-09-17 00:00:00.000000', 9959.0, 450330.0, 170052.0, 280278.0, 100000.0, 27693.5, 5405.5, 246.2]
['2015-09-18 00:00:00.000000', 9644.0, 453000.0, 170928.0, 282072.0, 100000.0, 27692.5, 5272.5, 240.35]
['2015-09-21 00:00:00.000000', 9829.0, 454122.0, 170880.0, 283242.0, 100000.0, 27690.5, 5281.0, 241.4]
['2015-09-22 00:00:00.000000', 9655.0, 452694.0, 171270.0, 281424.0, 100000.0, 27693.0, 5089.75, 232.45]
['2015-09-23 00:00:00.000000', 9719.0, 454026.0, 171270.0, 282756.0, 100000.0, 27693.0, 5069.0, 232.7]
['2015-09-24 00:00:00.000000', 9875.0, 454812.0, 171990.0, 282822.0, 100000.0, 27694.0, 5065.5, 233.7]
['2015-09-25 00:00:00.000000', 9918.0, 454812.0, 171990.0, 282822.0, 100000.0, 27695.0, 5042.5, 231.5]

## SQL Body

SQL statement below needs to be able to merge the most recent columns of the pandas csv dataframe (**NOTE: Using a where clause that only allows for the NEW/UNIQUE dates to be selected**) to a the SQL database 

- After that, execute the statement and fetch (as read-only to check)

In [186]:
print(engine.table_names())

['commodities']

In [190]:
# How to convert SQL table to pandas dataframe


df = pd.read_sql_query('SELECT * from commodities;', connection)

df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index('Date')
df = df.astype(float)
df

,LME Ni cash price,LME Ni inventory (total),LME Ni inventory (briquette),LME Ni inventory (other forms),Critical Inventory,LME Co cash price,LME Cu cash price,Comex Cu future
Date,,,,,,,,
2015-01-02,14756.00,414900.0,165720.0,249180.0,100000.0,31619.0,6321.00,272.65
2015-01-05,15126.00,414756.0,165972.0,248784.0,100000.0,31365.0,6213.50,267.45
2015-01-06,15191.00,415338.0,166506.0,248832.0,100000.0,31366.0,6221.00,267.30
2015-01-07,15483.00,415812.0,167094.0,248718.0,100000.0,31367.0,6182.50,266.10
2015-01-08,15486.00,415842.0,167124.0,248718.0,100000.0,31371.0,6175.75,267.30
2015-01-09,15235.50,415164.0,166818.0,248346.0,100000.0,31371.0,6166.50,265.45
2015-01-12,15029.00,414732.0,166554.0,248178.0,100000.0,31367.5,6101.00,262.55
2015-01-13,14585.00,416436.0,167244.0,249192.0,100000.0,30769.0,5939.50,254.00
2015-01-14,14241.00,418320.0,167142.0,251178.0,100000.0,30769.5,5619.00,241.20
2015-01-15,14413.50,418332.0,167100.0,251232.0,100000.0,30774.5,5681.00,247.85
2015-01-16,14722.00,418518.0,166470.0,252048.0,100000.0,30773.5,5768.00,253.35
2015-01-19,14417.00,417900.0,165990.0,251910.0,100000.0,31015.0,5709.00,253.35
2015-01-20,14721.00,418062.0,165654.0,252408.0,100000.0,30615.0,5722.00,251.05
2015-01-21,14971.50,419964.0,166794.0,253170.0,100000.0,30816.0,5801.00,252.65
2015-01-22,14792.00,421842.0,167820.0,254022.0,100000.0,30620.0,5696.50,249.85
2015-01-23,14293.00,423036.0,168120.0,254916.0,100000.0,30370.0,5549.00,242.55
2015-01-26,14692.00,424344.0,168900.0,255444.0,100000.0,30368.0,5628.50,246.80
2015-01-27,14730.50,424110.0,168288.0,255822.0,100000.0,30365.0,5453.00,238.95
2015-01-28,14993.00,423726.0,167580.0,256146.0,100000.0,29616.0,5519.50,240.60
2015-01-29,14846.00,425562.0,167778.0,257784.0,100000.0,29620.0,5433.00,237.30
2015-01-30,15109.00,426240.0,167310.0,258930.0,100000.0,29421.0,5541.00,240.55
2015-02-02,15274.00,424974.0,166194.0,258780.0,100000.0,29438.5,5525.00,240.75
2015-02-03,15255.50,424572.0,165462.0,259110.0,100000.0,29640.0,5719.00,249.50
2015-02-04,15070.00,424788.0,165462.0,259326.0,100000.0,29642.0,5732.75,250.10
2015-02-05,15122.75,423480.0,164070.0,259410.0,100000.0,29646.0,5743.50,250.90
2015-02-06,15179.00,424206.0,163698.0,260508.0,100000.0,29198.0,5670.00,250.10
2015-02-09,15098.75,426324.0,164586.0,261738.0,100000.0,29200.0,5687.50,250.00
2015-02-10,14764.75,426090.0,164460.0,261630.0,100000.0,29055.0,5604.75,247.50
2015-02-11,14690.50,426018.0,164202.0,261816.0,100000.0,29056.0,5610.25,245.35
2015-02-12,14648.00,425310.0,163458.0,261852.0,100000.0,29209.0,5752.25,251.10
...,...,...,...,...,...,...,...,...
2019-06-24,12069.50,168876.0,145242.0,23634.0,100000.0,28000.0,5941.25,270.50
2019-06-25,12234.00,168252.0,145176.0,23076.0,100000.0,28000.0,6025.50,273.50
2019-06-26,12424.00,164838.0,144276.0,20562.0,100000.0,27860.0,5971.00,271.55
2019-06-27,12658.00,165480.0,144624.0,20856.0,100000.0,28720.0,5976.50,271.65
2019-06-28,12617.00,164718.0,143880.0,20838.0,100000.0,28600.0,5982.00,271.35
2019-07-01,12266.00,161658.0,143280.0,18378.0,100000.0,28600.0,5937.75,268.80
2019-07-02,12004.50,161448.0,143118.0,18330.0,NaN,28600.0,5868.50,266.40
2019-07-03,12271.50,158292.0,140328.0,290568.0,100000.0,28600.0,5908.75,268.30
2019-07-04,12270.00,157386.0,139932.0,18330.0,100000.0,28600.0,5909.00,268.30
2019-07-05,12418.00,157464.0,140208.0,17256.0,NaN,28600.0,5890.25,266.10
2019-07-08,12676.00,154740.0,139512.0,15228.0,NaN,28600.0,5873.25,265.90
2019-07-09,12646.50,154104.0,139428.0,14676.0,NaN,26647.0,5808.50,262.50
2019-07-10,12928.00,153612.0,139332.0,14280.0,NaN,26650.0,5928.50,269.40
2019-07-11,13073.00,153420.0,139692.0,13728.0,NaN,26650.0,5948.00,268.75
2019-07-12,13409.50,150840.0,139398.0,11442.0,NaN,26650.0,5928.75,269.40
2019-07-15,13595.00,150324.0,138978.0,11346.0,NaN,27584.0,5976.00,271.10
2019-07-16,14004.00,149322.0,137976.0,11346.0,NaN,27583.0,6000.00,270.00
2019-07-17,14419.00,148374.0,137028.0,11346.0,NaN,27583.0,5968.00,271.60
2019-07-18,14817.00,148230.0,136902.0,11328.0,NaN,27592.0,5970.50,271.00
2019-07-19,14680.00,147942.0,136818.0,11124.0,NaN,27596.0,6055.25,275.25
2019-07-22,14256.00,147624.0,136872.0,10752.0,NaN,27583.0,5997.00,272.20
2019-07-23,14131.00,146670.0,136332.0,10338.0,NaN,27583.5,5946.00,270.00
2019-07-24,14508.00,145056.0,136284.0,8772.0,NaN,27584.0,5978.75,271.20
2019-07-25,14032.00,145500.0,137112.0,8388.0,NaN,27593.0,5986.50,270.35
2019-07-26,14063.00,145062.0,137040.0,8022.0,NaN,25597.0,5941.00,268.50
2019-07-29,14325.00,143988.0,136080.0,7908.0,NaN,25584.0,6000.00,271.75
2019-07-30,14320.00,143988.0,136032.0,7956.0,NaN,25584.0,5925.00,267.85
2019-07-31,14452.00,143628.0,136032.0,7596.0,NaN,25584.0,5902.25,266.60
2019-08-01,14578.00,143670.0,136074.0,7596.0,NaN,25593.0,5875.00,266.55
2019-08-02,14578.00,143670.0,136074.0,7596.0,NaN,25593.0,5875.00,259.50

In [4]:
# OLD / BROKEN
values_list = []

df = pd.read_csv('data\city.csv')
print(df.shape)

for col in df:
    print(col)
    
    data = {'name': col[0], 'population': col[1]}
    #print(data)
    #values_list.append(data)

#print(values_list)

# SQL ALCHEMY NOO

# Access table with python
# metadata reads daabase and builds a SQL alchemy table object

metadata = MetaData()

sqlalchemy_table = Table('census', metadata, autoload=True,
           autoload_with = engine)

print(repr(sqlalchemy_table))

(276, 2)
name
population

In [205]:
connection.close()